.onprem-subscription-grid
  width 80%

.onprem-subscription-grid td
  padding 10px
  vertical-align middle
  border 1px solid $default-border-color

.onprem-subscription-grid td:nth-child(2)
  text-align center
  width 50%

.onprem-subscription-grid td:nth-child(1)
  text-align left
  width 50%

.onprem-subscription-title-item
  margin-bottom 10px

.onprem-subscription-command-line
  background-color $default-border-color
  padding 5px
  margin-bottom 10px
