/* Base CSS, minimal change needed therefore removed whitespace */
.hidesearch {margin-top:2px;max-width:40px;}
.showsearch {margin-top:2px;padding:0px; position:absolute; top:45px;}
.hidefactorysearch {margin-top:0px;max-width:40px;}
.showfactorysearch {margin-top:1px;padding:0px; position:absolute; top:0px;}
html, 
body  { height: 100%; }
body  { padding-top: 45px; font-size: 11px; }
#wrap { min-height: 100%; height: auto; margin: 0 auto -60px;padding: 0 0 60px; }
#footer { height: 60px; }
h4    { color: #363636; font-size: 10px; font-weight: bold; text-transform: uppercase; }

.navbar-inverse .navbar-nav > li > a { padding:2px 3px; margin:10px 15px; font-size:14px; }
.navbar-inverse .navbar-nav > li > a.logout { font-size: 25px; margin: 10px 0; padding: 0; }
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-hover li:hover > a { border-bottom:2px solid #54aee0; padding:2px 3px; background: transparent;}

/* search Animation */
.search { width:100%; }
.search.ng-hide { width:0%; }
.search.ng-hide-remove { -webkit-transition:0.3s ease-in all; transition:0.3s ease-in all; display:block!important; }

.breadcrumb { height:36px; border-bottom:1px solid #dcdcdc; }
.breadcrumb > li + li:before { content: none; }
.breadcrumb li a { color: #177eb7;}

.jqstooltip { border: 0 none !important; display: block !important; padding: 0 !important; }
.jqsfield { display: inline-block; line-height: 13px; padding: 4px 5px 5px; }

.dropdown-menu { border: 1px solid #DCDCDC; left:auto; right:0; margin:-1px -1px 0 0; border-top:none; box-shadow:none; }
.dropdown-menu li a { color: #177eb7; text-align:right; font-size:11px;}

/*Custom global styles - */
.btn:not(.simple) { text-transform:uppercase; }
.form-control { box-shadow: none;}
.well h1, .no-margin h1 { margin-top:2px; margin-bottom:2px; font-weight:bold; }
.panel-body .row { margin-top:15px; margin-bottom:15px; }
label { color: #8b8b8b; font-size: 13px; text-transform: none; font-weight: normal;}
label.checkbox { color: #a3a3a3; font-size: 11px; text-transform: none; }
th h4 { font-weight:normal; }
.table > thead > tr > th { padding:0px 5px; background:#dbdbdb; border-top:1px solid #bebebe; border-bottom:1px solid #bebebe; }
.no-border { border:none; color:#8c8c8c;}
.no-shadow { box-shadow: none;}
.well-ce{ background:#ebebeb; color:#8c8c8c; box-shadow: none; border-radius: 0; border:none; font-size:10px;}
.panel-ce { border:none; box-shadow: none; }
.stat { font-size:24px;}


/* Dashboard breadcrumb */
.projectnav { padding:0 1px; }
.projectnav > li { padding: 9px 20px; border-right:1px solid #dcdcdc; }

.bordered { border:1px solid #bcbcbc; background: #FFFFFF; padding:2px}
.projectbox .panel:hover  { box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.2); }
.projectbox .panel-default > .panel-heading { color:#787878; background:#ebebeb; height:54px; padding:5px; font-size: 11px; }
.projectbox .panel-title  { font-size:12px; color:#3c3c3c; margin:5px 0px; }
.projectbox .panel-footer { background: #fafafa; padding-top:0px; padding-bottom:0px; height:23px; }
.projectbox .panel-footer .row > div { padding-top: 3px; padding-bottom: 4px; text-align:center; color:#363636; cursor: pointer; }
.projectbox .panel-footer .row > div:hover { background:#eaeaea; }
.projectbox .panel-footer > .row > div:not(:last-child) { border-right: 1px solid #dbdbdb; }
.projectbox .panel-footer i { color:#8f8f8f; }

.createprjbox { padding:0 15px;background:#404040;left:15px;min-width:285px;max-width:700px; }
.factorylistbox { background:#404040;z-index:1;position: absolute;top:245px; }
.factorylist { color:#000000;cursor:pointer;padding:5px; }
.factorylist img { margin:5px 0; }

/* breadcrumb for account */
.boxnav      { padding: 7px 0; }
.boxnav > li { margin: 0 10px; padding: 2px; }
.boxnav > li > a { color:#414141; padding: 5px; }
.boxnav > li > a:hover, 
.boxnav > li > a:focus { text-decoration:none; }
.boxnav > li.active { background: #fff; border:solid 1px #ccc; }

/* Special classes for accounts page*/
.cerow { margin-bottom:5px; }
.cetag { border-radius:0px; color:#54aee0; padding:5px 10px; font-weight:bold; background:#fafafa; }
.celist .label { font-weight:normal; display:table; margin-bottom:10px; border-radius:0px; color:#a3a3a3; padding:5px 10px; background:#F0F0F0; }
.celist .label > span { background:#a8a8a8; color:#ffffff; border-radius:10px; margin-left:15px; padding:3px; }

/* Stats page and general colors */
.sparkline { display: inline-block; position: relative; }
.orange { color:#e26e11; }
.green  { color:#7dc686; }
.violet { color:#bd8fc0; }
.blue   { color:#2293d5; }
.white  { color:#ffffff; }
.gb     { color:#8fa5c0; } /*grey blue*/
.garrow { color:#bebebe; }

.morris-hover-row-label { background:#909090; float:left; padding:5px; border-radius: 5px 0 0 5px; }
.morris-hover-point { background:#b3b3b3; float:left; white-space: normal; padding:5px; border-radius: 0 5px 5px 0;}
.morris-hover.morris-default-style { background:transparent; padding:0; border:none; border-radius:0; color:#ffffff; min-width:125px;}
.morris-hover.morris-default-style .morris-hover-row-label { margin:0; font-weight: normal;}
.morris-hover.morris-default-style .morris-hover-point { margin:0; }


.search1   {float: right; height: 35px;  }

.searchfield { 
    background: url(../images/searchIcon.png) no-repeat center center #E3E3E3;
    border: medium none; border-left: 1px solid #ddd;
    height: 36px;
    padding: 0;
    width: 42px; color: #555;
}

.searchfull  {position: relative; position: absolute; right: 0; top: 47px;}
.searchfullfactory  { top: 0px;}
.searchfull  .searchfield { 
    background: url(../images/searchIcon.png) no-repeat 10px center #E3E3E3; 
    border: medium none; 
    border-left: 1px solid #ddd; 
    height: 36px; 
    padding: 0 10px 0 30px;
    width: 100%; color: #555; 
    font-style: italic;
}


.closeBtn { 
    background: url(../images/closeIcon.png) no-repeat center center; border:none;  height: 36px;
    opacity: 0.4;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 43px;
}
.closeBtn:hover , .closeBtn:focus { opacity: 1; }

#loading-bar-spinner {
    top: 150px;
    left: 400px;
}
