@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    background:#f9f9f9; 
    font-family:"Open Sans",  "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    line-height: 22px;
    color:#999999;
}

h1, h2, h3, h4, h5, h6 {color:#333333;font-weight:400;}

.navbar {
    background: #404040;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, ul.navbar-nav li.active a {
    border-bottom:2px solid #3399ff;
    padding-bottom:5px;
    background: #404040;
}

.navbar-inverse .navbar-nav li:hover > a {
    border-bottom:2px solid #3399ff;
    padding-bottom:5px;
}

.breadcrumb {
    background: #f0f0f0;
    border-bottom:1px solid #ddd;
    color: #333333;
    height: 40px;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}


.breadcrumb > li + li:before {
    color: #333333;
    content: none;
    padding: 0 5px;
}

.projectnav > li + li:before {
    content: "|";
}

.boxnav > li > a {
    color: #333333;
    padding: 0 5px;
}

.boxnav > li.active {
    background: #fff;
    border:solid 1px #ccc;
}

.breadcrumb .form-control {
    background-color:transparent;
}



.disabled {
    color:#ddd;
}


#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.panel {
    box-sizing: border-box;
    box-shadow: 0 0.063em 0.125em rgba(0, 0, 0, 0.2);
}

.panel-heading {
    color: #3c3c3c;
}

.panel:hover {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.panel-footer .row > div {
    text-align:center;
    color:#333333;
}

.panel-footer .row > div:not(:last-child) {
    border-right: 1px solid #ddd;
}

#footer {
    height: 60px;
}

