<form id="new-project-dialog" name="newProjectForm" novalidate class="css-form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Import a new project into your Codenvy workspace</h4>
    </div>
    <div class="modal-body" style="padding: 0">
        <tabset justified="true">
            <tab active="newProjectCtrl.tabActivated['GitHub']" select="newProjectCtrl.setProjectType('GitHub')">
                <tab-heading>
                    <span class="tab-title"><i class="import-icon fa fa-github fa-lg"></i> From your GitHub account</span>
                </tab-heading>
                <ud-import-github workspaces="newProjectCtrl.workspaces"
                                  workspace-selected="newProjectCtrl.workspaceSelected"
                                  current-user-id="newProjectCtrl.currentUserId"
                                  new-project-data="newProjectCtrl.newProjectData"
                                  project-groups="newProjectCtrl.projectGroups">
                </ud-import-github>
                <alert ng-repeat="alert in newProjectCtrl.alerts" type="{{alert.type}}" close="newProjectCtrl.closeAlert($index)">
                    {{alert.msg}}
                </alert>
            </tab>
            <tab active="newProjectCtrl.tabActivated['Git']" select="newProjectCtrl.setProjectType('Git')">
                <tab-heading>
                    <span class="tab-title"><i class="import-icon fa fa-git-square fa-lg"></i> From a Git repository</span>
                </tab-heading>
                <ud-import-git-repository workspaces="newProjectCtrl.workspaces"
                                          workspace-selected="newProjectCtrl.workspaceSelected"
                                          new-project-data="newProjectCtrl.newProjectData"
                                          project-groups="newProjectCtrl.projectGroups">
                </ud-import-git-repository>
                <alert ng-repeat="alert in newProjectCtrl.alerts" type="{{alert.type}}" close="newProjectCtrl.closeAlert($index)">
                    {{alert.msg}}
                </alert>
            </tab>
            <tab active="newProjectCtrl.tabActivated['Zip']" select="newProjectCtrl.setProjectType('Zip')">
                <tab-heading>
                    <span class="tab-title"><i class="import-icon fa fa-file-archive-o fa-lg"></i> From a Zip URL</span>
                </tab-heading>
                <ud-import-zip workspaces="newProjectCtrl.workspaces"
                               workspace-selected="newProjectCtrl.workspaceSelected"
                               new-project-data="newProjectCtrl.newProjectData"
                               project-groups="newProjectCtrl.projectGroups">
                </ud-import-zip>
                <alert ng-repeat="alert in newProjectCtrl.alerts" type="{{alert.type}}" close="newProjectCtrl.closeAlert($index)">
                    {{alert.msg}}
                </alert>
            </tab>
            <tab active="newProjectCtrl.tabActivated['Factory']" select="newProjectCtrl.setProjectType('Factory')">
                <tab-heading>
                    <span class="tab-title"><i class="import-icon fa fa fa-cloud-upload fa-lg"></i> From a configuration file</span>
                </tab-heading>
                <ud-import-factory workspaces="newProjectCtrl.workspaces"
                                   workspace-selected="newProjectCtrl.workspaceSelected"
                                   new-project-data="newProjectCtrl.newProjectData"
                                   import-type="importType"
                                   project-groups="newProjectCtrl.projectGroups">
                </ud-import-factory>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()">Cancel</button>
        <button class="btn btn-primary" ng-disabled="!newProjectForm.$valid" ng-click="newProjectCtrl.import()">Import</button>
    </div>
</form>
