<ul class="breadcrumb projectnav" ng-hide="search">
    <li> You have access to 4 projects in 2 workspaces</li>
    <li class="dropdown user-dropdown"> SORT BY:
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-up garrow"></i> Name</a>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="reverse = true; param = 'name'"><i class="fa fa-caret-up garrow"></i> Name</a></li>
            <li><a href="" ng-click="reverse = false; param = 'name'"><i class="fa fa-caret-down garrow"></i> Name</a></li>
            <li><a href="" ng-click="reverse = true; param = 'modified'"><i class="fa fa-caret-up garrow"></i> Date Created</a></li>
            <li><a href="" ng-click="reverse = false; param = 'modified'"><i class="fa fa-caret-down garrow"></i> Date Created</a></li>
        </ul>
    </li>
    <li class="dropdown user-dropdown"> WORKSPACE:
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-caret-down garrow"></i> {{filter.owner||'All'}}</a>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="filter.owner=''">All</a></li>
            <li><a href="" ng-click="filter.owner='Stevan.lemur'">Stevan.lemur</a></li>
            <li><a href="" ng-click="filter.owner='tjwell'">tjwell</a></li>
        </ul>
    </li>
    <li> VIEW AS:
        <a href="" ng-click="box = 0" > <i style="font-size:16px;" ng-class="{'garrow':box == 1}" class="fa fa-bars" rel="tooltip" title="List View"></i></a>
        &nbsp;<a href="" ng-click="box = 1"> <i style="font-size:16px;" ng-class="{'garrow':box == 0}" class="fa fa-th-large" rel="tooltip" title="Grid View"></i></a>
    </li>

    <div class="pull-right" style="margin-top:2px;max-width:40px;">
        <div class="input-group" ng-click="search = 1">
            <input type="text" class="form-control" style="width:0;padding:0;" placeholder="Search ... ">
            <div class="input-group-btn" ng-if="!search">
                <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
</ul>
<ul class="breadcrumb"  ng-show="search">
    <div class="pull-right col-md-12" style="margin-top:-6px;padding:0px;">
        <div class="input-group">
            <input ng-model="filter.name" type="text" class="form-control" placeholder="Search ... ">
            <div class="input-group-btn">
                <button class="btn btn-default" ng-click="search = 0"><i class="glyphicon glyphicon-remove"></i></button> 
            </div>
        </div>
    </div>
</ul>
<div class="col-md-2" style="width:200px;">
    <div class="panel panel-default" >
        <div class="panel-body text-center">
            <span class="glyphicon white glyphicon-plus" style="font-size:75px; color:#dedede;  text-shadow: 1px 4px 6px #fff, 0 0 0 #000;"></span><br/>
            <div class="text-center" style="color:#919191"><strong>Create New Project</strong></div>
        </div>
    </div>
</div>
<div class="col-md-10">
    <div class="row" ng-if="box">
        <div ng-repeat="project in projects| filter: filter | orderBy:param:reverse" class="col-md-3 projectbox" style="width:300px"><!--ng-class="{true:'col-md-3', false:'col-md-9'}[box == 1]">-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="#"><img height="44" width="44" ng-src="{{project.icon}}" alt=""></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><strong>{{project.name}}</strong></h3>
                            <span>{{project.owner}}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">{{project.description}}</div>
                <div class="panel-footer"><div class="row">
                        <div class="col-md-4"><div class="row"><i class="fa" ng-class="{'fa-lock':project.visibility == 'Private', 'fa-unlock':project.visibility == 'Public'}"></i><small> {{project.visibility}}</small></div></div>
                        <div class="col-md-4"><div class="row"><i class="fa fa-users"></i><small> Share</small></div></div>
                        <div class="col-md-4"><div class="row"><i class="fa fa-cog"></i></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row projectbox" ng-if="!box">
        <div class="panel panel-default" ng-repeat="project in projects| filter: filter | orderBy:param:reverse">
            <div class="panel-body">
                <div class="col-xs-2 col-md-1"><a href="#"><img height="44" width="44" ng-src="{{project.icon}}" alt=""></a></div>
                <div class="col-xs-10 col-md-11">
                    <div class="row">
                        <div><strong>{{project.name}}</strong>
                            <div class="mic-info">
                                {{project.owner}}
                            </div>
                        </div>
                        <div class="comment-text">{{project.description}}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-4"><div class="row"><i class="fa fa-unlock"></i><small> {{project.visibility}}</small></div></div>
                    <div class="col-md-4"><div class="row"><i class="fa fa-users"></i><small> Share</small></div></div>
                    <div class="col-md-4"><div class="row"><i class="fa fa-cog"></i></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
