<h3>Select the factory:</h3>
    <span>The project will be placed in a temporary workspace where you can code, build, test and deploy. Then decided to copy the project on your workspace.</span>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item active">
             <div class="row">
              <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>          
              <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
              <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
                 <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
                <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
                <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
                <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
                <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
                <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
                <div class="col-md-3">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><img width="44" height="44" alt="" ng-src="./images/Project1TypeName.png" src="./images/Project1TypeName.png"></a></div>
                        <div class="col-md-9">
                            <h3 class="panel-title"><a href="http://a4.codenvy-dev.com/api/project/ws1/description?name=project1"><strong class="ng-binding">project1</strong></a></h3>
                            <span class="ng-binding">WorkspaceName1</span>
                        </div>
                    </div>
                </div> 
            </div>
              </div>  
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>