<div class="col-md-12" style="margin-top:20px;">
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center"><strong>Your most popular factories</strong> <span class="garrow">- Last 30 days</span></h4>
                <div id="graph-area-line" style="height:300px;"></div>
            </div>
        </div> 
</div>
<div class="col-md-12">
    <div class="row">
<ul class="breadcrumb projectnav" style="margin-bottom:0px;border-top:1px solid #dcdcdc; border-bottom:none;">
            <li>Your most popular factories</li>
            <li class="dropdown user-dropdown"> LAST:
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-up"></i> Last 30 Days</a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="reverse = true; param = 'modified'"><i class="fa fa-caret-up"></i> Last 30 Days</a></li>
                    <li><a href="" ng-click="reverse = false; param = 'modified'"><i class="fa fa-caret-down"></i> Last 30 Days</a></li>
                </ul>
            </li>
            <li class="dropdown user-dropdown"> WORKSPACE:
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-caret-down garrow"></i> {{filter.workspace||'All'}}</a>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="filter.workspace=''">All</a></li>
             <li ng-repeat="project in projects"><a href="" ng-click="filter.workspace=project.workspace">{{project.workspace}}</a></li>
        </ul>
    </li>
    <div class="pull-right" ng-class="{'col-md-12 showfactorysearch':search, 'hidesearch':!search}">
        <div class="input-group">
            <input type="text" ng-show="!search" class="form-control" style="width:0;padding:0;" placeholder="Search ... ">
            <input type="text" ng-show="search" ng-model="filter.name" class="form-control search pull-right" placeholder="Search ... ">
            <div class="input-group-btn" ng-show="!search">
                <button class="btn btn-default" ng-click="search = !search"><i class="glyphicon glyphicon-search"></i></button>
            </div>
            <div class="input-group-btn" ng-show="search">
                <button class="btn btn-default" ng-click="search = !search"><i class="glyphicon glyphicon-remove"></i></button> 
            </div>
        </div>
    </div>
</ul>

        <table class="table table-striped table-condensed-" style="background:#ffffff;">
            <thead>
                <tr style="background:#dbdbdb;border-top:1px solid #bebebe;">
                    <th></th>
                    <th class="text-center"><h4>PROJECT</h4></th>
                    <th class="text-center"><h4>DESCRIPTION</h4></th>
                    <th class="text-center"><h4>CREATED</h4></th>
                    <th class="text-center"><h4>VIEWS</h4></th>
                    <th class="text-center"><h4>BUILDS</h4></th>
                    <th class="text-center"><h4>RUNS</h4></th>
                    <th class="text-center"><h4>COPIES</h4></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects| filter: filter | orderBy:param:reverse">
                    <td><img  class="bordered" height="44" width="44" ng-src="./images/{{project.projectTypeName}}.png"/></td>
                    <td>
                        <p><strong>{{project.name}}</strong></p>
                        <span>{{project.workspace}}</span>
                    </td>
                    <td>{{project.description}}</td>
                    <td class="text-center">Dec 12, 2013</td>
                    <td  class="text-center">65</td>
                    <td class="text-center">45</td>
                    <td class="text-center">35</td>
                    <td class="text-center">15</td>
                    <td>
                        <a href="" style="margin-right:10px;">See</a>
                        <a href="" style="margin-right:10px;">Snippets</a>
                        <a href="" style="margin-right:10px;">Share</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>