<ul class="breadcrumb projectnav">
    <li class="dropdown user-dropdown"> PERIOD:
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-up"></i> Last 30 Days</a>
        <ul class="dropdown-menu">
            <li><a href="" ng-click='reverse = true'><i class="fa fa-caret-up"></i> Last 30 Days</a></li>
            <li><a href="" ng-click='reverse = false'><i class="fa fa-caret-down"></i> Last 30 Days</a></li>
        </ul>
    </li>
</ul>

<div class="col-md-12">
    <div class="panel panel-default ">
        <div class="panel-body">
            <h4 class="text-center">Your Statics</h4>
            <div class="row">
                <div class="col-md-9"><div class="well">chart</div></div>
                <div class="col-md-3"><div class="well">165 Sessions <br/>6780 Cumulative Minutes</div></div>
            </div>
            <div class="row">
                <div class="col-md-2"><div class="well">12 Project Updated</div></div>
                <div class="col-md-2"><div class="well">84 Builds</div></div>
                <div class="col-md-2"><div class="well">57 Runs</div></div>
                <div class="col-md-2"><div class="well">5 Debugs</div></div>
                <div class="col-md-2"><div class="well">5 Deploys</div></div>
                <div class="col-md-2"><div class="well">5 Factories</div></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h4 class="text-center">Build Statics</h4>
                    <div class="well">Div1</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h4 class="text-center">Run Statics</h4>
                    <div class="well">Div2</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h4 class="text-center">Image Statics</h4>
                    <div class="well">Div3</div>
                </div>
            </div>
        </div>
    </div>
</div>