<ul class="breadcrumb projectnav">
    <li class="dropdown user-dropdown"> PERIOD:
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-up"></i> Last 30 Days</a>
        <ul class="dropdown-menu">
            <li><a href="" ng-click='reverse = true'><i class="fa fa-caret-up"></i> Last 30 Days</a></li>
            <li><a href="" ng-click='reverse = false'><i class="fa fa-caret-down"></i> Last 30 Days</a></li>
        </ul>
    </li>
</ul>

<div class="col-md-12">
    <div class="panel panel-default ">
        <div class="panel-body">
            <h4 class="text-center">Your Statics</h4>
            <div class="row">
                <div class="col-md-9"><div class="well" id="graph-area-line" style="height:300px;"></div></div>
                <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-4 no-margin text-right gb"><h1>165</h1></div>
                            <div class="col-md-8 h4">SESSIONS</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 no-margin text-right gb"><h1>6780</h1></div>
                            <div class="col-md-8 h4">CUMULATIVE MINUTES</div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="well well-sm blue"><h1>12</h1> PROJECT UPDATED <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#2293d5" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="well well-sm green"><h1>84</h1> BUILDS <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#7cc687" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5</span>
                    </div></div>
                <div class="col-md-2">
                    <div class="well well-sm green"><h1>57</h1> RUNS <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#7cc687" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5</span>
                    </div></div>
                <div class="col-md-2">
                    <div class="well well-sm green"><h1>5</h1> DEBUGS <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#7cc687" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5</span>
                    </div></div>
                <div class="col-md-2">
                    <div class="well well-sm blue"><h1>5</h1> DEPLOYS <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#2293d5" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5</span>
                    </div></div>
                <div class="col-md-2">
                    <div class="well well-sm violet"><h1>5</h1> FACTORIES <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#bd8fc0" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5</span>
                    </div></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h4 class="text-center">Build Statics</h4>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange">13.54</h1></div>
                        <div class="col-md-9">
                            TIME SPENT IN BUILD WAIT QUEUE<br/>
                            Upgrade (soon) to get a dedicated queue.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="garrow">3.54</h1></div>
                        <div class="col-md-9">
                            TIME SPENT BUILDING PROJECTS
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange">13</h1></div>
                        <div class="col-md-9">
                            BUILD TERMINATIONS DUE TO THRESHOLD TIMEOUT<br/>
                            Upgrade (soon) to increase build timeout threshold
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h4 class="text-center">Run Statics</h4>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange">13.54</h1></div>
                        <div class="col-md-9">
                            TIME SPENT IN RUNNER WAIT QUEUE<br/>
                            Upgrade (soon) to get a dedicated queue.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1  class="garrow">1.54</h1></div>
                        <div class="col-md-9">
                            TIME SPENT RUNNING PROJECTS
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange">23</h1></div>
                        <div class="col-md-9">
                            RUN TERMINATIONS DUE TO THRESHOLD TIMEOUT<br/>
                            Upgrade (soon) to increase run timeout threshold
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h4 class="text-center">Image Statics</h4>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="green">73.54</h1></div>
                        <div class="col-md-9">
                            TIME SPENT CONFIGURING DOCKER IMAGES<br/>
                            Upgrade (soon) to increase time before image tear down
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>