<ul class="breadcrumb projectnav">
    <li class="dropdown user-dropdown"> PERIOD:
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-up"></i> Last 30 Days</a>
        <ul class="dropdown-menu">
            <li><a href="" ng-click='reverse = true'><i class="fa fa-caret-up"></i> Last 30 Days</a></li>
            <li><a href="" ng-click='reverse = false'><i class="fa fa-caret-down"></i> Last 30 Days</a></li>
        </ul>
    </li>
</ul>

<div class="col-md-12">
    <div class="panel panel-default panel-ce">
        <div class="panel-body">
            <h4 class="text-center">Your Statistics</h4>
            <div class="row">
                <div class="col-md-9"><div id="graph-area-line" style="height:300px;"></div></div>
                <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-4 no-margin text-right gb"><h1>165</h1></div>
                            <div class="col-md-8 h4"><strong>SESSIONS</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 no-margin text-right gb"><h1>6780</h1></div>
                            <div class="col-md-8 h4"><strong>CUMULATIVE MINUTES</strong></div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm well-ce blue pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat">12</h1> <strong>PROJECT UPDATED</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="130" sparkbarcolor="#2293d5" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5,5,4,3,2,4,5,6,7,8,6</span>
                    </div>
                    <div class="well well-sm well-ce green pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat">84</h1> <strong>BUILDS</strong><br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#7cc687" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5,5,4,3,2,4,5,6,7,8,6</span>
                    </div>
                    <div class="well well-sm well-ce green pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat">57</h1> <strong>RUNS</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#7cc687" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5,5,4,3,2,4,5,6,7,8,6</span>
                    </div>
                    <div class="well well-sm well-ce green pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat">5</h1> <strong>DEBUGS</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#7cc687" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5,5,4,3,2,4,5,6,7,8,6</span>
                    </div>
                    <div class="well well-sm well-ce violet pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat">5</h1> <strong>DEPLOYS</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#bd8fc0" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5,5,4,3,2,4,5,6,7,8,6</span>
                    </div>
                    <div class="well well-sm well-ce blue pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat">5</h1> <strong>FACTORIES</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#2293d5" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5,5,4,3,2,4,5,6,7,8,6</span>
                    </div>
                    <div class="well well-sm well-ce blue pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat">5</h1> <strong>COLLABRATIVE SESSIONS</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#2293d5" sparktype="bar" class="sparkline">5,4,3,2,4,5,6,7,8,6,4,5,5,4,3,2,4,5,6,7,8,6</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Build Statics</h4>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange stat">13.54</h1></div>
                        <div class="col-md-9" style="padding-top:8px">
                            TIME SPENT IN BUILD WAIT QUEUE<br/>
                            Upgrade (soon) to get a dedicated queue.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="garrow stat">3.54</h1></div>
                        <div class="col-md-9" style="padding-top:8px">
                            TIME SPENT BUILDING PROJECTS
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange stat">13</h1></div>
                        <div class="col-md-9" style="padding-top:8px">
                            BUILD TERMINATIONS DUE TO THRESHOLD TIMEOUT<br/>
                            Upgrade (soon) to increase build timeout threshold
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Run Statics</h4>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange stat">13.54</h1></div>
                        <div class="col-md-9" style="padding-top:8px">
                            TIME SPENT IN RUNNER WAIT QUEUE<br/>
                            Upgrade (soon) to get a dedicated queue.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1  class="garrow stat">1.54</h1></div>
                        <div class="col-md-9" style="padding-top:8px">
                            TIME SPENT RUNNING PROJECTS
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange stat">23</h1></div>
                        <div class="col-md-9" style="padding-top:8px">
                            RUN TERMINATIONS DUE TO THRESHOLD TIMEOUT<br/>
                            Upgrade (soon) to increase run timeout threshold
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default  panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Image Statics</h4>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="green stat">73.54</h1></div>
                        <div class="col-md-9" style="padding-top:8px">
                            TIME SPENT CONFIGURING DOCKER IMAGES<br/>
                            Upgrade (soon) to increase time before image tear down
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
