<form id="createFactoryModal" novalidate class="simple-form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create New Factory</h4>
    </div>
    <div class="modal-body" style="padding: 0">
        <div class="widgets">

            <div class="row">
                <div class="col-md-4">
                    <div class="widget-select" ng-click="selectWidget('template')" ng-class="{'widget-select-active' : 'template' == selectedWidget}">
                        <div class="icon"><i class="mega-octicon octicon-file-code"></i></div>
                        <div class="title">From Template</div>
                        <div class="body"><ui-select ng-model="selectedTemplateElement" on-select="selectingTemplate($item)" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
                            <ui-select-match placeholder="Select a template...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="template in templates | filter: $select.search">
                                <span ng-bind-html="template.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="widget-select" ng-click="selectWidget('file')" ng-class="{'widget-select-active' : 'file' == selectedWidget}">
                        <div class="icon"><i class="mega-octicon octicon-cloud-upload"></i></div>
                        <div class="title">From File</div>
                        <div class="body">
                            <ud-new-factory-from-file></ud-new-factory-from-file>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget-select" ng-click="selectWidget('project')" ng-class="{'widget-select-active' : 'project' == selectedWidget}">
                        <div class="icon"><i class="mega-octicon octicon-file-directory"></i></div>
                        <div class="title">From Project</div>

                        <div class="body">
                            <ui-select ng-model="selectedProjectElement" on-select="selectingProject($item, $model)" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
                                <ui-select-match placeholder="Select a project...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="project in projects | filter: $select.search">
                                    <span ng-bind-html="project.name | highlight: $select.search"></span>
                                    (<small ng-bind-html="project.workspaceName | highlight: $select.search"></small>)
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <textarea ui-codemirror="{ onLoad : codemirrorLoaded }" ng-model="factoryContent" class="form-control" rows="30">
                    </textarea>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="data-info">
                            <a href="http://docs.codenvy.com/user/project-lifecycle/#configuration-reference">Factory reference documentation</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-8">
                <div class="alerts">

                    <div class="row alert alert-danger nowrap" ng-show="factoryConfigurationError != null">
                        {{factoryConfigurationError}}
                    </div>
                    <div class="row alert alert-success nowrap" ng-show="factoryConfigurationOK != null">
                        {{factoryConfigurationOK}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <button class="btn btn-default" ng-click="$close()">Cancel</button>
                <button id="create-factory-modal-button" class="btn btn-primary" ng-click="createFactory(this)">Create</button>
            </div>
        </div>
    </div>

</form>
