<div id="buy-onprem-subscription-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">On-Prem Subscription</h4>
    </div>
    <div class="modal-body">
      Our sales team will help you through the purchase process and ensure that you are set up with a solution that is tailored to your needs.
    </div>
    <div class="modal-footer">
        <a href="mailto:sales@codenvy.com?subject=On-Prem%20Purchase%20Help"><button class="btn btn-primary" ng-click="$close()">Buy</button></a>
        <a href="https://codenvy.com/products/onprem" target="_blank"><button class="btn btn-primary" ng-click="$close()">Trial</button></a>
    </div>
</div>