<div class="col-md-12" ng-controller="SubscriptionCtrl">
    <div class="row">
        <div class="breadcrumb projectnav">
            <table class="table table-striped table-condensed- table-hover" style="background:#f9f9f9;">
                <thead>
                <tr style="background:#dbdbdb;border-top:1px solid #bebebe;">
                    <th style="width:54px"></th>
                    <th class="col-md-2"><h4>NAME</h4></th>
                    <th class="col-md-2 text-center"><h4>ACTIVATION DATE</h4></th>
                    <th class="col-md-2 text-center"><h4>EXPIRATION DATE</h4></th>
                    <th class="col-md-2 text-center"><h4>CONSUMPTION</h4></th>
                    <th class="text-center" style="width:350px"><h4>ACTIONS</h4></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subscription in subscriptions">
                    <td>&nbsp;</td>
                    <td class="blk_lnk">
                        <b class="ng-binding">{{subscription.description}}</b>
                    </td>
                    <td  class="text-center">
                        {{subscription.startDate ? subscription.startDate : "----"}}
                    </td>
                    <td class="text-center">
                        {{subscription.endDate ? subscription.endDate : "----"}}
                    </td>
                    <td class="text-center">
                        <b ng-if="subscription.serviceId == 'Saas'">{{accountMetrics.usedMemoryInCurrentBillingPeriod}} MB minutes</b><br>
                        <p ng-if="subscription.serviceId == 'Saas' && accountMetrics.usedMemoryInCurrentBillingPeriod >= accountMetrics.freeMemory " class="lockdown-label">LOCKDOWN</p>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-xs grid-button" ng-if="!subscription.needToBuy && !subscription.needToUpgrade" ng-click="confirmCancelSubscription(subscription);">Cancel</button>
                        <button class="btn btn-primary btn-xs grid-button" ng-if="subscription.needToBuy" ng-click="buySubscription(subscription);">BUY</button>
                        <button class="btn btn-primary btn-xs grid-button" ng-if="subscription.needToUpgrade" ng-click="upgradeSubscription(subscription);">UPGRADE</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>