<div>
    <ud-new-project-details workspaces="workspaces" new-project-data="newProjectData"></ud-new-project-details>

    <p ng-if="gitHubError" class="alert alert-danger" >
        We get problem authenticating you to GitHub. You can retry by pushing again the button below.
        If the problem persists, please contact support on our <a href="https://groups.google.com/a/codenvy.com/forum/#!forum/codenvy" target="_blank">Google forum</a>.
    </p>

    <button type="button" class="btn btn-primary" ng-click="loadRepositories()" ng-if="shouldDisplayLoadButton && !loadingRepos">Load your GitHub repositories</button>

    <div ng-if="!shouldDisplayLoadButton && !loadingRepos">
        <div class="form-group" style="margin-left: 0; margin-bottom: 15px; overflow: auto">
            <label for="organizationFilter" class="control-label">Filter GitHub repositories</label>
            <select id="organizationFilter" class="form-control col-md-8" ng-model="organizationName" ng-options="resolveOrganizationName(organization) group by resolveOrganizationType(organization) for organization in organizations">
                <option value="">All your organizations</option>
            </select>
        </div>
        <div class="git-hub-repositories-list">
            <div class="list-group">
                <a class="list-group-item" ng-class="{'active': selectedRepository == gitHubRepository, 'no-desc': !gitHubRepository.description}"
                    ng-repeat="gitHubRepository in gitHubRepositories | filterRepositories:organizationName"
                    ng-click="selectRepository(gitHubRepository)">
                    <span ng-if="!gitHubRepository.fork" class="repo-icon octicon octicon-repo"></span>
                    <span ng-if="gitHubRepository.fork" class="repo-icon octicon octicon-repo-forked" title="forked"></span>
                    <span class="repo-name">{{gitHubRepository.name}}</span>
                    <span ng-if="gitHubRepository.private" class="repo-private fa fa-lock" title="private"></span>
                    <span class="repo-description">{{gitHubRepository.description}}</span>
                </a>
            </div>
        </div>
    </div>
</div>