<div class="form-group">
    <ud-new-project-details workspaces="workspaces"
                            workspace-selected="workspaceSelected"
                            new-project-data="newProjectData"
                            project-groups="projectGroups">
    </ud-new-project-details>

    <label for="gitRepositoryURL" class="control-label">Git repository URL</label>
    <input type="text"
           id="gitRepositoryURL"
           name="remoteGitURL"
           class="form-control"
           ng-model="newProjectData.source.project.location"
           placeholder="The URL of the Git repository you want to import from"
           ud-remote-url="{{newProjectData.source.project.type}}"
           required />
</div>