<div>
    <ud-new-project-details workspaces="workspaces"
                            workspace-selected="workspaceSelected"
                            new-project-data="newProjectData">
    </ud-new-project-details>

    <p ng-if="state == 'LOAD_ERROR'" class="alert alert-danger" >
        We have a problem authenticating you with GitHub.
    </p>

    <button type="button" class="btn btn-primary" ng-click="loadRepositories()" ng-if="state != 'LOADING' && state != 'LOADED'">Load your GitHub repositories</button>

    <div ng-if="state == 'LOADED'">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="organizationFilter" class="control-label">Filter by organization</label>
                    <select id="organizationFilter" class="form-control" ng-model="organizationName" ng-options="resolveOrganizationName(organization) group by resolveOrganizationType(organization) for organization in organizations">
                        <option value="">All your organizations</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nameFilter" class="control-label">Filter by name</label>
                    <input id="nameFilter" class="form-control" ng-model="repositoryName" type="text" placeholder="Start typing here">
                </div>
            </div>
        </div>
        <div class="git-hub-repositories-list">
            <div class="list-group">
                <a class="list-group-item" ng-class="{'active': selectedRepository == gitHubRepository, 'no-desc': !gitHubRepository.description}"
                    ng-repeat="gitHubRepository in gitHubRepositories | filterRepositories:organizationName:repositoryName | orderBy:'name'"
                    ng-click="selectRepository(gitHubRepository)">
                    <span ng-if="!gitHubRepository.fork" class="repo-icon octicon octicon-repo"></span>
                    <span ng-if="gitHubRepository.fork" class="repo-icon octicon octicon-repo-forked" title="forked"></span>
                    <span class="repo-name">{{gitHubRepository.name}}</span>
                    <span ng-if="gitHubRepository.private" class="repo-private fa fa-lock" title="private"></span>
                    <span class="repo-description">{{gitHubRepository.description}}</span>
                </a>
            </div>
        </div>
    </div>
</div>