<div class="form-group">
    <ud-new-project-details parent-form="parentForm"
                            workspaces="workspaces"
                            new-project-data="newProjectData">
    </ud-new-project-details>

    <label for="gitRepositoryURL" class="control-label">Git repository URL</label>
    <input type="url"
           id="gitRepositoryURL"
           class="form-control"
           ng-model="newProjectData.remoteUrl"
           ng-change="setGitRepositoryUrl()"
           placeholder="The URL of the Git repository you want to import from"
           required />
</div>