<div class="form-group" style="margin-left: 0; margin-bottom: 15px; overflow: auto">
    <ud-new-project-details workspaces="workspaces" new-project-data="newProjectData"></ud-new-project-details>

    <label for="remoteZipURL" class="control-label">Remote Zip URL</label>
    <input type="text"
           id="remoteZipURL"
           class="form-control"
           ng-model="remoteZipUrl"
           ng-change="setRemoteZipUrl()"
           placeholder="The URL of the remote Zip repository you want to import from"/>
</div>