<div>
    <ud-new-project-details workspaces="workspaces" new-project-data="newProjectData"></ud-new-project-details>

<!--    <button type="button" class="btn btn-primary" ng-click="loadRepositories()" ng-if="!gitHubRepositories">Load your GitHub repositories</button>-->

    <div>
        <div class="form-group" style="margin-left: 0; margin-bottom: 15px; overflow: auto">
            <label for="organizationFilter" class="control-label">Filter GitHub repositories</label>
            <select id="organizationFilter" class="form-control col-md-8" ng-model="organizationName" ng-options="resolveOrganizationName(organization) group by resolveOrganizationType(organization) for organization in organizations">
                <option value="">All your organizations</option>
            </select>
        </div>
        <div class="git-hub-repositories-list">
            <div class="list-group">
                <a class="list-group-item" ng-class="{'active': selectedRepository == gitHubRepository}" ng-repeat="gitHubRepository in gitHubRepositories | filterRepositories:organizationName"
                    ng-click="selectRepository(gitHubRepository)">
                    <h3 class="list-group-item-heading">
                        <span ng-if="!gitHubRepository.fork" class="octicon octicon-repo"></span>
                        <span ng-if="gitHubRepository.fork" class="octicon octicon-repo-forked"></span>
                        {{gitHubRepository.name}}
                        <span ng-if="gitHubRepository.private" class="fa fa-lock"></span>
                    </h3>
                    <p>
                        {{gitHubRepository.description}}
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>