<div class="form-group" style="margin-left: 0; margin-bottom: 15px; overflow: auto">
    <ud-new-project-details workspaces="workspaces" new-project-data="newProjectData"></ud-new-project-details>

    <label for="gitRepositoryURL" class="control-label">Git repository URL</label>
    <input type="text"
           id="gitRepositoryURL"
           class="form-control"
           ng-model="gitRepositoryUrl"
           ng-change="setGitRepositoryUrl()"
           placeholder="The URL of the Git repository you want to import from"/>
</div>