<div class="form-group">
    <label for="targetWorkspace" class="control-label">Target workspace</label>
    <select id="targetWorkspace"
            name="targetWorkspace"
            class="form-control"
            ng-model="workspaceSelected"
            ng-options="workspace.workspaceReference.name for workspace in workspaces">
    </select>
</div>
<div class="form-group">
    <label for="projectName" class="control-label">Project name</label>
    <input type="text"
           name="projectName"
           id="projectName"
           class="form-control"
           ng-model="newProjectData.project.name"
           placeholder="The name of your new project"
           required />
</div>
<div class="form-group">
    <label for="projectDescription" class="control-label">Project description</label>
    <textarea id="projectDescription"
              name="projectDescription"
              class="form-control"
              ng-model="newProjectData.project.description"
              placeholder="The description of your new project"
              rows="3">
    </textarea>
</div>