<div class="form-group">
    <label for="targetWorkspace" class="control-label">Target workspace</label>
    <select id="targetWorkspace"
            name="targetWorkspace"
            class="form-control"
            ng-model="workspaceSelected"
            ng-options="workspace.workspaceReference.name for workspace in workspaces">
    </select>
</div>
<div class="form-group">
    <label for="projectName" class="control-label">Project name</label>
    <input type="text"
           name="projectName"
           id="projectName"
           class="form-control"
           ng-model="newProjectData.project.name"
           placeholder="The name of your new project"
           ng-maxlength="128"
           ng-pattern="/^[A-Za-z0-9_\-\.]+$/"
           required />
</div>
<div class="form-group">
    <label for="projectType" class="control-label">Project type</label>
    <select id="projectType"
            name="projectType"
            class="form-control"
            ng-class="{'disable-color': newProjectData.project.type === 'null'}"
            ng-model="newProjectData.project.type">
        <option value='null' disabled selected style='display:none;'>The type of your new project</option>
        <optgroup ng-repeat="projectGroup in projectGroups" label={{projectGroup.group}} style='padding-left:5px;color:#3C3C3C;'>
            <option  ng-repeat="projectType in projectGroup.projectTypes" value={{projectType.type}}>{{projectType.name}}</option>
        </optgroup>
    </select>
</div>
<div class="form-group">
    <label for="projectDescription" class="control-label">Project description</label>
    <textarea id="projectDescription"
              name="projectDescription"
              class="form-control"
              ng-model="newProjectData.project.description"
              placeholder="The description of your new project"
              ng-maxlength="256"
              rows="3">
    </textarea>
</div>
<input type="hidden"
       name="importType"
       id="importType"
       ng-model="newProjectData.source.project.type" />