<div class="breadcrumb-wrap">
  <ul class="breadcrumb boxnav">
    <li><a href="#/organizations" class="all-ws"> All Workspaces </a> >  {{workspace.name}}</li>
    <li class="active"><a href="#/organizations/workspace/{{workspace.id}}"> INFORMATION </a></li>
    <li><a href="#/organizations/workspace/{{workspace.id}}/members"> MEMBERS<span class="badge">{{workspace.members.length}}</span> </a></li>
    <!--<li><a href="#"> GROUPS </a></li>-->
  </ul>
</div>

<div class="clearfix"></div>

<div class="container-fluid mrg-top40">
  <div class="row">
    <div class="col-lg-5 col-sm-6 col-md-6 col-xs-12">
      <div class="information-contant">
        <div class="box-bg">
          <div class="text-center detail-ttl mrg-btm10 mrg-top10"><strong>WORKSPACE INFORMATION</strong></div>
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
              <form role="form">
                <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" value="{{workspace.name}}">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="box-bg">
          <div class="text-center detail-ttl mrg-btm20 mrg-top10"><strong>WORKSPACE ADMINISTRATORS</strong></div>
          <div class="administrator-block">
            <ul>
              <li ng-repeat="member in workspace.members">
                <div class="row" ng-if="member.role == 'admin'">
                  <div class="col-lg-9 col-sm-9 col-md-9 col-xs-10">
                    <div class="text-col">
                      <h4>{{member.email}}</h4>
                      <p>{{member.name}}</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 col-xs-2">
                    <button class="btn btn-white pull-right" type="button">Remove</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-lg-5 col-lg-offset-7 col-sm-12 col-md-12 col-xs-12">
                    <button class="btn btn-white pull-right" type="button">
                      <i class="glyphicon glyphicon-plus add-size"></i>
                      <span class="add-admin-text">Add Administrator</span>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>