<div ng-if="isOrgAddOn">
  <ul class="breadcrumb boxnav">
    <li class="active"><a href="#/organizations"> WORKSPACES <span class="badge">{{workspaces.length}}</span></a></li>
    <li><a href="#/organizations/members"> ORG MEMBERS <span class="badge">{{members.length}}</span> </a></li>
    <li class="dropdown user-dropdown" ng-if="accounts.length > 1">ORGANIZATION:
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-caret-down garrow"></i><b>{{currentAccount.name}}</b></a>
        <ul class="dropdown-menu">

            <li ng-repeat="account in accounts" ng-click="changeAccount(account);"><a href="">{{account.name}}</a></li>
        </ul>
    </li>
  </ul>

  <div class="col-md-12">
    <div class="row">
      <ul class="breadcrumb projectnav breadcrumb clearfix">
        <li class="dropdown user-dropdown"> SORT BY:
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down garrow"></i> Alphabetically </a>
          <ul class="dropdown-menu">
            <li><a href="" ng-click="filter.name"> Alphabetically </a></li>
          </ul>
        </li>
        <div class="clearfix visible-xs"></div>
        <li class="search1 pull-right">
          <div>
            <input type="button" class="searchfield "/>
          </div><!-- content title-->
          <div class="searchfull top0 clearfix" style="display:none">
            <input type="button" class="closeBtn" style="display:none;" ng-click="filter = ''" />
            <input type="text" ng-model="filter.name" class="searchfield " placeholder="Search for Workspaces"/>
          </div>
        </li>
        <li class="ws-button pad0 pull-right mrg-rht5">
              <div>
                  <a href="" class="new_btn" data-toggle="modal" data-target="#ramAllocation">
                      </i>RAM Allocation
                  </a>
              </div>
        </li>
        <li class="ws-button pad0 pull-right mrg-rht5">
          <div>
            <a href="" class="new_btn" data-toggle="modal" data-target="#addNewWorkspace" >
              <i class="glyphicon glyphicon-plus add-size"></i>New Workspace
            </a>
          </div>
        </li>
      </ul>

      <div class="projectnav table-responsive">
        <table class="table table-hover" style="background:#f9f9f9;">
          <thead>
            <tr style="background:#dbdbdb;border-top:1px solid #bebebe;">
              <th class=""></th>
              <th class="text-center"><h4>NAME</h4></th>
              <th class="text-center"><h4>ALLOCATED RAM</h4></th>
              <th class="text-center"><h4>DEVELOPERS</h4></th>
              <th class="text-center"><h4>PROJECTS</h4></th>
              <th></th>
              <th style="text-align: right; padding-right: 81px;"><h4>ACTIONS</h4></th>
            </tr>
          </thead>

            <tr ng-repeat="workspace in workspaces| filter: filter | orderBy:'name'" class="v-center">
              <td style="width: 1%;"><!--<i class="glyphicon glyphicon-lock"></i>--></td>
              <td><a ng-href="#/organizations/workspace/{{workspace.id}}/members" class="ws-name">{{workspace.name}}</a></td>
              <td class="text-center">{{workspace.allocatedRam}}</td>
              <td class="text-center">{{workspace.developers}}</td>
              <td class="text-center">{{workspace.projects}}</td>
              <td></td>
              <td style="text-align: right;">
                <ul class="breadcrumb action-button boxnav">
                   <li class="active no-bdr mrg-top8"><a ng-href="#/organizations/workspace/{{workspace.id}}/members" class="new_btn">Edit</a></li>
                   <li class="active no-bdr mrg-top8"><a href="" class="new_btn" data-toggle="modal" data-target="#removeWorkspaceConfirm" ng-click="addWsProject(workspace)" ng-style="{visibility: workspaces.length != 1  && 'visible' || 'hidden'}">Remove</a></li>
                </ul>
              </td>
            </tr>

        </table>
      </div>
      <!--<div class="text-center">
        <ul class="pagination pagination-sm">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>-->
    </div>
  </div>
</div>
<!-- Add New Workspace Modal Start -->
<div class="modal-col">
  <div class="modal fade" id="addNewWorkspace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add New Workspace Into Organization</h4>
        </div>
        <div class="modal-body">
          <div class="form-field">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                <form role="form">
                  <div class="form-group">
                    <label>Define Workspace Name:</label>
                    <input type="text" placeholder="Workspace Name" class="form-control" id="ws_name"
                           ng-model="confirmed" ng-change="workspaceNameValidity()">
                  </div>
                </form>
              </div>
            </div>
            <div class="menber-col">
              <div class="row">
                <div class="col-lg-7 col-sm-7 col-md-7 col-xs-12">
                  Member(s) to add:
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12 pad-0">
                  Administrator
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12 pad-0">
                  Developer
                </div>
              </div>
            </div>
            <div class="menber-textarea mrg-top10">
              <div class="row mrg-btm5" ng-repeat="member in selectedWsMembers">
                <div class="col-lg-7 col-sm-7 col-md-7 col-xs-12">
                  <p>{{member.name}} ({{member.email}})</p>
                </div>

                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                  <div class="text-center">
                    <input type="radio" name="user_role_{{$index}}" id="radio{{$index}}" class="css-checkbox" value="['workspace/admin', 'workspace/developer']" ng-checked="member.role=='admin'"/>
                    <label for="radio{{$index}}" class="css-label radGroup1">&nbsp;</label>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                  <div class="text-center">
                    <input type="radio" name="user_role_{{$index}}" id="radio_{{$index}}" class="css-checkbox" value="['workspace/developer']" ng-checked="member.role=='developer'"/>
                    <label for="radio_{{$index}}" class="css-label radGroup1">&nbsp;</label>
                  </div>
                </div>
                <div class="col-lg-1 col-sm-1 col-md-1 col-xs-12">
                  <a ng-click="removeMemberFromWsList(member)"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
              </div>
            </div>
            <div class="row mrg-top10">
              <div class="col-lg-7 col-sm-7 col-md-7 col-xs-12">
                <form role="form">
                  <div class="form-group">
                    <label>Select User(s):</label>
                    <select multiple id="selectedMembers" class="form-control"  style="padding: 0; border: 0;">
                        <option ng-repeat="member in members" ng-if="usedEmails.indexOf(member.email) == -1">{{member.email}}</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="col-lg-5 col-sm-5 col-md-5 col-xs-12">
                <div class="row mrg-top30" style="line-height: 25px;">
                  <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12 pad-0">Administrator </div>
                  <div class="col-lg-1 col-sm-3 col-md-3 col-xs-12" style="margin-top: 2px;">
                     <input type="radio" name="ws_member_role" id="ws_admin_radio" class="css-checkbox lft-radio"  value="workspace/admin" checked="checked"/>
                    <label for="ws_admin_radio" class="css-label radGroup1">&nbsp;</label>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">Developer </div>
                  <div class="col-lg-1 col-sm-3 col-md-3 col-xs-12" style="margin-top: 2px;">
                   <input type="radio" name="ws_member_role" id="ws_dev_radio" class="css-checkbox" value="workspace/developer"/>
                    <label for="ws_dev_radio" class="css-label radGroup1">&nbsp;</label>
                  </div>
                  <div class="col-lg-2 col-sm-3 col-md-3 col-xs-12">
                    <button type="button" class="btn btn-success" id="wsUserAdd" ng-click="addMemberToWsList()" disabled>ADD</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="org-errors" ng-if="members.length == 0">
                <span >Users must be added as an Organization Member first before they are added to this workspace.</span>
            </div>
            <div id="userAlreadyAdded" style="display: none" class="org-errors">User <strong>'{{userAlreadyAdded.join(", ")}}'</strong> already added. </div>
            <div id="emptyEmails" style="display: none" class="org-errors"><strong>Select email addresses</strong></div>
            <div id="emptyWs" style="display: none" class="org-errors"></div>
            <div id="wsAlreadyExist" style="display: none" class="org-errors"></div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="createWs" ng-click="createWorkspace(accountId[0], selectedWsMembers)" disabled>Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add New Workspace Modal end -->

<!-- Remove Workspace Modal Start -->
<div class="modal-col">
  <div class="modal fade" id="removeWorkspaceConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          Remove Workspace: <strong>{{selectedWsForRemove.name}}</strong>
        </div>
        <div class="modal-body">

          Removing a workspace will delete all projects inside that workspace:

          <ul ng-if="selectedWsForRemove.projectsName.length>0">
            <li ng-repeat="project in selectedWsForRemove.projectsName" >
              {{project}}
            </li>
          </ul>

          <div ng-if="selectedWsForRemove.projectsName.length==0">
            <strong>No Projects added</strong>
          </div>

          <br/>
          If you are going to remove a workspace ensure no one is working on any of the projects listed above before proceeding.
          <br/>
          <strong>Removing a workspace can't be undone, are you sure you want to continue?</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
           <button type="button" class="btn btn-primary" ng-click="removeWorkspace(selectedWsForRemove.id)">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!---- End Workspace Modal Start--->

<!-- RAM Allocation Modal Start -->
<div class="modal-col">
    <div class="modal fade" id="ramAllocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" width="350px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Workspace RAM Allocation</h4>
                </div>
                <div class="modal-body">
                    <div class="projectnav table-responsive">
                        <h5><span style="margin-right: 20px">Account RAM: <b>{{allowedRAM}}</b></span>
                        <span>RAM Available: <b ng-class="{'font-error': leftMemory < 0, 'font-success': leftMemory > 0}">{{leftMemory}}</b></span></h5>
                        <table class="table table-hover" style="background:#f9f9f9;">
                            <thead>
                            <tr style="background:#dbdbdb;border-top:1px solid #bebebe;">
                                <th><h4>NAME</h4></th>
                                <th class="text-center"><h4>MB</h4></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="workspace in infoForRAMAllocation| filter: filter | orderBy:'name'" class="v-center">
                                <td>{{workspace.name}}</td>
                                <td class="text-center" width="90px"><input type="text" ng-model="workspace.allocatedRam" style="text-align: center;" class="form-control" id="allocate_ram_{{$index}}" ng-change="getFreeMemoryAfterAllocation($index)"/></td>
                            </tr>
                        </table>
                        <div ng-show="leftMemory < 0" class="org-errors"><strong>Not enough memory for such RAM allocation.</strong></div>
                        <div ng-show="leftMemory > 0" class="alert alert-success"><strong>Left memory will be added to primary workspace: "{{primaryWorkspace.name}}"</strong></div>
                        <div id="allocationError" style="display: none" class="org-errors"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="('#allocationError').hide();">Cancel</button>
                    <button type="button" ng-disabled="leftMemory < 0 || !defineProperValue" class="btn btn-primary" ng-click="redistributeResources();">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- RAM Allocation Modal end -->
