<ul class="breadcrumb boxnav">
    <li><a href="#/account/profile">Profile</a></li>
    <li><a href="#/account/configuration">Configuration</a></li>
    <li class="active"><a href="#/account/preferences">Preferences</a></li>
    <li><a href="#/account/billing">Billing</a></li>
</ul>
<div class="container mt60">
    <div class="col-md-6">
        <div class="panel panel-default ">
            <div class="panel-body">
                <h4 class="text-center">Your Plan Details </h4>
                <div class="cerow">
                    <strong>You are a premium user, using 1 dedicated queue for</strong> stevenlemeur<strong> workspace</strong>
                </div><div class="cerow">
                    Your Subscription expired on Jan 1, 2014.<br/>
                </div>
                <div class="cerow text-center"><button type="button" class="btn btn-primary">Upgrade (soon) to get more dedicated queues</button></div>
            </div>
        </div>  
        <div class="panel panel-default ">
            <div class="panel-body">
                <h4 class="text-center">Renewal Information</h4>
                <div class="cerow">
                    Automatic renewwal: Yes
                </div><div class="cerow">
                    Subscription renewal on: Jan 1, 2014
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-body">
                <h4 class="text-center">Invoices</h4>
                <div class="row">
                    <div class="col-md-8">January 1, 2013</div>
                    <div class="col-md-2"><a href="">HTML</a></div>
                    <div class="col-md-2"><a href="">PDF</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default ">
            <div class="panel-body">
                <h4 class="text-center"><img height="22" src="./images/user.png"/> You are a premium user</h4>
            </div>
        </div>  
        <div class="panel panel-default ">
            <div class="panel-body">
                <h4 class="text-center">Hot Keys</h4>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Command</th>
                                    <th>Binding</th>                                         
                                </tr>
                            </thead>   
                            <tbody>
                                <tr>
                                    <td>Upload a File</td>
                                    <td></td>                                      
                                </tr>
                                <tr>
                                    <td>Upload a zipped folder</td>
                                    <td></td>                                      
                                </tr>
                                <tr>
                                    <td>Upload a local file</td>
                                    <td></td>                                    
                                </tr>
                                <tr>
                                    <td>Upload file by path</td>
                                    <td></td>                                    
                                </tr>
                                <tr>
                                    <td>upload file by URL</td>
                                    <td></td>                                        
                                </tr>
                                <tr>
                                    <td>Download file</td>
                                    <td>Ctrl + S</td>                                        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>
</div>