<ul class="breadcrumb boxnav">
    <li><a href="#/account/configuration">Configuration</a></li>
    <li><a href="#/account/preferences">Preferences</a></li>
    <li class="active"><a href="#/account/profile">Profile</a></li>
    <li><a href="#/account/billing">Billing</a></li>
</ul>
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default ">
            <div class="panel-body">
                <h4 class="text-center">Your Information</h4>
                <div class="row">
                    <div class="col-md-12">
                        <form action="r" method="post" accept-charset="utf-8" class="form" role="form">   
                            <!--<legend class="text-center">Billing Information</legend>-->
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="workspaceid">First Name:</label>
                                    <input class="form-control" id="name" name="name" placeholder="steven" type="text" required autofocus />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="workspaceid">Last Name:</label>
                                    <input class="form-control" id="email" name="email" placeholder="le meur" type="text" required autofocus/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Email:</label>
                                    <input class="form-control" id="name" name="name" placeholder="stevan@codeenvy.com" type="email" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Phone:</label>
                                    <input class="form-control" id="name" name="name" placeholder="-- -- -- --" type="text" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Country:</label>
                                    <select id="workspaceid" class="form-control">
                                        <option selected>USA</option>
                                        <option>UK</option>
                                        <option>India</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Company Name:</label>
                                    <input class="form-control" id="name" name="name" placeholder="Codeenvy" type="text" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Department Name:</label>
                                    <input class="form-control" id="name" name="name" placeholder="Product" type="text" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Job Title:</label>
                                    <input class="form-control" id="name" name="name" placeholder="Product Manager" type="text" required autofocus />
                                </div>
                            </div>
                            Can our sales teams contact you to discuss our offerings? 
                            <input type="checkbox" name="remember" value="1"> Yes
                            <div class="row">
                                <div class="col-md-2 col-md-offset-10">
                                    <button class="btn btn-primary btn-block signup-btn" type="submit">Save</button>
                                </div>
                            </div>
                        </form>          
                    </div>
                </div>            
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-body">
                <h4 class="text-center">Update Your Password</h4>
                <div class="row">
                    <div class="col-md-12">
                        <form action="r" method="post" accept-charset="utf-8" class="form" role="form">   
                            <!--<legend class="text-center">Billing Information</legend>-->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Old Password:</label>
                                    <input class="form-control" id="name" name="name" placeholder="" type="password" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">New Password:</label>
                                    <input class="form-control" id="name" name="name" placeholder="" type="password" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Repeat New Pasword:</label>
                                    <input class="form-control" id="name" name="name" placeholder="" type="password" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-10">
                                    <button class="btn btn-primary btn-block signup-btn" type="submit">Save</button>
                                </div>
                            </div>
                        </form>          
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default ">
            <div class="panel-body">
                <h4 class="text-center"><img height="22" src="./images/user.png"/> You are a premium user</h4>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-body">
                <h4 class="text-center">Your Skills</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#/account/configuration"><span class="badge pull-right"><span class="glyphicon glyphicon-remove"></span></span>JAVA Development</a></li>
                    <li><a href="#/account/configuration"><span class="badge pull-right" ng-click=""><span class="glyphicon glyphicon-remove"></span></span>IOS Application</a></li>
                    <li><a href="#/account/configuration"><span class="badge pull-right" ng-click=""><span class="glyphicon glyphicon-remove"></span></span>Cobol</a></li>
                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <form action="r" method="post" accept-charset="utf-8" class="form" role="form">  
                            <div class="row">
                                <div class="col-md-10 form-group">
                                    <input class="form-control" id="name" name="name" placeholder="steven" type="text" required autofocus />
                                </div>
                                <div class="col-md-2"><button class="btn btn-primary btn-block signup-btn" type="submit">Add</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">                        
                        <form action="r" method="post" accept-charset="utf-8" class="form" role="form">   
                            <h4 class="text-center">Your Usage</h4>
                            <div class="row">
                                <div class="control-group">
                                    <div class="controls col-md-5 col-md-offset-1">
                                        <label class="checkbox">
                                            <input type="checkbox"> Personal
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> Opensource
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> Corporate
                                        </label>
                                    </div>
                                    <div class="controls col-md-5 col-md-offset-1">
                                        <label class="checkbox">
                                            <input type="checkbox"> Hackathon
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> Classroom
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> Others
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <h4 class="text-center">Your Projects</h4>
                            <div class="row">
                                <div class="control-group">
                                    <div class="controls col-md-5 col-md-offset-1">
                                        <label class="checkbox">
                                            <input type="checkbox"> Mobile
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> APIs
                                        </label>
                                    </div>
                                    <div class="controls col-md-5 col-md-offset-1">
                                        <label class="checkbox">
                                            <input type="checkbox"> WebApps
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> Others
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-10">
                                    <button class="btn btn-primary btn-block signup-btn" type="submit">Save</button>
                                </div>
                            </div>
                        </form>          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>