<div ng-controller="BillingCtrl">

    <div class="container" style="margin-top: 20px; color: #8b8b8b;font-size: 13px;">
        <div class="col-md-6">
            <div class="panel panel-default panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Usage and balance</h4>

                    <div class="row text-center" style="margin-top: 40px;">
                        <div class="col-md-6">{{usedMemory}} GB Hours</div>
                        <div class="col-md-6">$ [NOT READY]</div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Invoices [NOT READY]</h4>

                    <div class="row">
                        <div class="col-md-8">January 1, 2015 ($9.36)</div>
                        <div class="col-md-2"><a href="">HTML</a></div>
                        <div class="col-md-2"><a href="">PDF</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default panel-ce" ng-class="{'display-none': creditCards && creditCards.length > 0}">
                <div class="panel-body">
                    <h4 class="text-center">Add credit card</h4>
                    <div class="cardWrapper"></div>
                    <form id="creditCardForm">
                        <!--<legend class="text-center">Billing Information</legend>-->
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <label for="cardNumber">Card Number:</label>
                                <input class="form-control" id="cardNumber" name="cardNumber" ng-model="creditCard.number" type="text" required autofocus/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <label for="cardHolder">Cardholder Name:</label>
                                <input class="form-control" id="cardHolder" ng-model="creditCard.cardholderName" type="text" required autofocus/>
                            </div>
                            <div class="col-xs-3">
                                <label for="expiry">Expires:</label>
                                <input class="form-control" id="expiry" ng-model="creditCard.expirationDate"  type="text" required autofocus/>
                            </div>
                            <div class="col-xs-3">
                                <label for="cvv">CVV:</label>
                                <input class="form-control" id="cvv" ng-model="creditCard.cvv" type="text" required autofocus/>
                            </div>
                         </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <label for="street">Street Address:</label>
                                <input class="form-control" id="street" type="text" ng-model="creditCard.streetAddress" autofocus/>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <label for="city">City:</label>
                                <input class="form-control" id="city"  ng-model="creditCard.city" type="text" autofocus/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <label for="state">State:</label>
                                <input class="form-control" id="state"  ng-model="creditCard.state" type="text" autofocus/>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <label for="postalCode">Postal Code:</label>
                                <input class="form-control" id="postalCode"  ng-model='creditCard.postalCode' type="text" autofocus/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 form-group">
                                <label for="country">Country:</label>
                                <select id="country"  ng-model="creditCard.country" class="form-control" >
                                    <option value="">Select Your Country</option>
                                    <option ng-repeat="country in countries">{{country.name}}</option>
                                </select>
                            </div>
                            <div class="col-xs-2 col-md-2 col-md-offset-10">
                                <button class="btn btn-primary btn-block signup-btn" ng-click="addCreditCard();">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default panel-ce" ng-if="creditCards && creditCards.length > 0">
                <div class="panel-body">
                    <h4 class="text-center">CREDIT CARD INFORMATION</h4>
                        <div class="row" ng-repeat="card in creditCards">
                            <div class="col-md-8" style="margin-top: 8px;">
                                <span style="text-transform: uppercase;">{{card.cardholder}}</span> ({{card.type}} {{card.number}})
                            </div>
                            <button type="button" class="btn btn-danger" ng-click="deleteCreditCard(card)"
                                    style="float:right;margin-right:20px;">Remove</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>