<div ng-controller="BillingCtrl">

    <div class="container" style="margin-top: 20px;">
        <div class="col-md-6">

            <div class="panel panel-default panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Usage and balance</h4>

                    <div class="row text-center" style="margin-top: 40px;">
                        <div class="col-md-6">{{usedMemory}} GB hours</div>
                        <div class="col-md-6">$ [NOT READY]</div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Invoices [NOT READY]</h4>

                    <div class="row">
                        <div class="col-md-8">January 1, 2015 ($9.36)</div>
                        <div class="col-md-2"><a href="">HTML</a></div>
                        <div class="col-md-2"><a href="">PDF</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Add credit card</h4>
                    <div class="creditCard">
                        <div class="chip"></div>
                        <div class="row cardNumber">
                            <div class="col-xs-3 col-md-3">
                                <i></i><i style="left: 18px;"></i><i style="left: 31px;"></i><i style="left: 44px;"></i>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <i></i><i style="left: 18px;"></i><i style="left: 31px;"></i><i style="left: 44px;"></i>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <i></i><i style="left: 18px;"></i><i style="left: 31px;"></i><i style="left: 44px;"></i>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <i></i><i style="left: 18px;"></i><i style="left: 31px;"></i><i style="left: 44px;"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <span class="bigFont">Full Name</span>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <div class="row">
                                    <div class="col-xs-4 col-md-4">
                                        <span class="smallFont" style="top: 25px; right: 10px;">valid<br>thru</span>
                                    </div>
                                    <div class="col-xs-8 col-md-8">
                                        <span class="smallFont" style="top: 15px; left: 0;">month/year</span>
                                        <span class="bigFont" style="left: 19px;top: 23px;">/</span>
                    <span class="smallFont" style="top: 32px; opacity: 0.5;left: 0;">
                        <i></i><i style="left: 13px;"></i><i style="left: 25px;"></i><i style="left: 35px;"></i>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="r" id="braintree-payment-form" method="post" accept-charset="utf-8" class="form" role="form">
                        <!--<legend class="text-center">Billing Information</legend>-->
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <label for="cardNumber">Card Number:</label>
                                <input class="form-control" id="cardNumber" data-encrypted-name="number" type="text" required autofocus/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <label for="cardHolder">Cardholder Name:</label>
                                <input class="form-control" id="cardHolder" name="cardHolder"  type="text" required autofocus/>
                            </div>
                            <div class="col-xs-3">
                                <label for="expires">Expires:</label>
                                <input class="form-control" id="expires" name="expires"  type="text" required autofocus/>
                            </div>
                            <div class="col-xs-3">
                                <label for="cvv">CVV:</label>
                                <input class="form-control" id="cvv" name="cvv"  data-encrypted-name="cvv" type="text" required autofocus/>
                            </div>
                         </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <label for="street">Street Address:</label>
                                <input class="form-control" id="street" name="street"  type="text" required autofocus/>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <label for="city">City:</label>
                                <input class="form-control" id="city" name="city"  type="text" required autofocus/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <label for="state">State:</label>
                                <input class="form-control" id="state" name="state"  type="text" required autofocus/>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <label for="postalCode">Postal Code:</label>
                                <input class="form-control" id="postalCode" name="postalCode"  type="text" required autofocus/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 form-group">
                                <label for="country">Country:</label>
                                <select id="country" ng-model="country" class="form-control" required>
                                    <option value="">Select Your Country</option>
                                    <option ng-repeat="country in countries">{{country.name}}</option>
                                </select>
                            </div>
                            <div class="col-xs-2 col-md-2 col-md-offset-10">
                                <button class="btn btn-primary btn-block signup-btn" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>