<ul class="breadcrumb boxnav">
  <li style="margin-top:4px;margin-bottom:8px;"><a href="#/account/profile">Profile</a></li>
    <li style="margin-top:4px;margin-bottom:8px;"><a href="#/account/subscriptions">Subscriptions</a></li>
    <li style="margin-top:4px;margin-bottom:8px;" class="active"><a href="#/account/configuration">Configuration</a></li>
    <!-- <li><a href="#/account/preferences">Preferences</a></li>
    <li><a href="#/account/billing">Billing</a></li> -->
</ul>

<div class="container mainDivContainer">
    <div class="col-md-6">
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center">Workspace Configuration</h4>
                <div class="form-group">
                    <label for="workspaceid">Workspace:</label>
                    <select id="workspaceid" ng-model="getWorkspaceInfoId" class="form-control" ng-change="getWorkspaceInfo()">
                        <option value="{{workspace.id}}" ng-repeat="workspace in workspaces">{{workspace.name}}</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-5">Project Limit: <span class="cetag">Unlimited</span></div>
                    <div class="col-md-7">Private Project Limit: <span class="cetag">Unlimited</span></div>
                </div>
                <div class="row">
                    <div class="col-md-5">Storage Limit: <span class="cetag">Unlimited</span></div>
                    <div class="col-md-7">Developer Limit: <span class="cetag">Unlimited</span></div>
                </div>
            </div>
            <div class="panel-body">
                <h4 class="text-center">Builder</h4>
               
                <div class="cerow">Builder Queue Type: <strong>{{workspaceInfo.builder.type}}</strong></div>
                <div class="cerow">Builder RAM Allocations: <strong>{{workspaceInfo.runner.ram}} MB</strong></div>
                <div class="cerow">Builder Time Threshold: <strong>{{workspaceInfo.builder.threshold}} mins</strong></div>
            </div>
            
            <div class="panel-body">
                <h4 class="text-center">Runner</h4>
                
                <div class="cerow">Runner Queue Type: <strong>{{workspaceInfo.runner.type}}</strong></div>
                <div class="cerow">Runner RAM Allocations: <strong>{{workspaceInfo.runner.ram}} MB</strong></div>
                <div class="cerow">Runner Time Threshold: <strong>{{workspaceInfo.runner.threshold}}</strong></div>
                <div class="cerow">Always On: <strong>{{workspaceInfo.runner.alwaysOn}}</strong></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center">Workspace(s) where you are granted workspace/admin permission</h4>
                <div class="celist" ng-repeat="workspace in workspaces">
                    <div class="label label-default" style="padding: 0px 10px;">{{workspace.name}}</div>
                    </div>
                    </div>


   </div>
</div>                   
                  <!--   <div class="label label-default">IOS Application <span class="glyphicon glyphicon-remove"></span></div>
                    <div class="label label-default">Cobol <span class="glyphicon glyphicon-remove"></span></div> -->
    <!-- <div class="col-md-6"> 
     <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center">Workspaces you have access</h4>
                <div class="celist">
                    <div class="label label-default">Java Development</div>
                    <div class="label label-default">IOS Application</div>
                    <div class="label label-default">Cobol</div>
                </div>
            </div>
        </div> --> 
  </div>