<ul class="breadcrumb boxnav">
    <li><a href="#/account/profile">Profile</a></li>
    <li class="active"><a href="#/account/configuration">Configuration</a></li>
    <!-- <li><a href="#/account/preferences">Preferences</a></li>
    <li><a href="#/account/billing">Billing</a></li> -->
</ul>
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center">Workspace:{{workspace.name}}</h4>
                <div class="form-group">
                    <label for="workspaceid">Workspace:</label>
                    <select id="workspaceid" class="form-control">
                        <option>Steven Le meur</option>
                        <option>tjwell</option>
                        <option>CodeEnvy</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-5"> This Workspace has 1 dedicated queue
                    </div>
                    <div class="col-md-5">
                        <p><button class="btn btn-primary simple">Upgrade(soon) to get a dedicated queue</button>
                            </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">Project Limit : <span class="cetag">Unlimited</span></div>
                    <div class="col-md-7">Private Project Limit: <span class="cetag">Unlimited</span></div>
                </div>
                <div class="row">
                    <div class="col-md-5">Storage Limit: <span class="cetag">Unlimited</span></div>
                    <div class="col-md-7">Developer Limit: <span class="cetag">Unlimited</span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">Runner/Builder Storage Limit: <strong>1 GB</strong></div>
                </div>
            </div>
            <div class="panel-body">
                <h4 class="text-center">Builder</h4>
                    <div class="cerow">Builder Queue Type: <strong>Dedicated</strong></div>
                    <div class="cerow">Builder Time Threshold: <strong>600 secs</strong></div>
                    <div class="cerow">Builder RAM Allocations: <strong>1024 MB</strong></div>
                    <div class="cerow">Builder Result Hold Time: <strong>3600 secs</strong></div>
            </div>
            <div class="panel-body">
                <h4 class="text-center">Runner</h4>
                <div class="cerow">Runner Queue Type: <strong>Dedicated</strong></div>
                <div class="cerow">Runner Time Threshold: <strong>3600 secs</strong></div>
                <div class="cerow">Runner RAM Allocations: <strong>1024 MB</strong></div>
                <div class="cerow">Run Image Teardown Time: <strong>3600 secs</strong></div>
                <div class="cerow">Run Image Storage Time: <strong>365 Days</strong></div>
                <div class="cerow">
                    <br/>Persistent Runner URL Name: <strong><a href="http://codeenvy.com/runner/Yjrndi83NDLN">http://codeenvy.com/runner/Yjrndi83NDLN</a></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center"><img height="22" src="./images/user.png"/> You are a premium user</h4>
            </div>
        </div>  
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center">Workspaces you have access</h4>
                <div class="celist">
                    <div class="label label-default">Java Development <span class="glyphicon glyphicon-remove"></span></div>
                    <div class="label label-default">IOS Application <span class="glyphicon glyphicon-remove"></span></div>
                    <div class="label label-default">Cobol <span class="glyphicon glyphicon-remove"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>