<ul class="breadcrumb boxnav">
    <li class="active"><a href="#/account/profile">Profile</a></li>
   <!-- 
    <li><a href="#/account/configuration">Configuration</a></li>
    <li><a href="#/account/preferences">Preferences</a></li>
    <li><a href="#/account/billing">Billing</a></li>
-->
</ul>
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center">Your Information</h4>
				<div id="upadateProfileAlert">
								<div class="alert alert-success" style="display: none;"><b>Successfully Done!</b> Update profile information process completed.</div>
								<div class="alert alert-danger" style="display: none;"><b>Failed!</b> Update profile information process failed.</div>
							</div>
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" accept-charset="utf-8" class="form" role="form" ng-submit="updateProfile()">   
                            <!--<legend class="text-center">Billing Information</legend>-->
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="workspaceid">First Name:</label>
                                    <input class="form-control" id="name" name="name" placeholder="steven" ng-model="firstName" type="text" required autofocus />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="workspaceid">Last Name:</label>
                                    <input class="form-control" id="email" name="email" placeholder="le meur" ng-model="lastName" type="text" required autofocus/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Email:</label>
                                    <input class="form-control" id="name" name="name" placeholder="stevan@codeenvy.com" ng-model="email" type="email" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Phone:</label>
                                    <input class="form-control" id="name" name="name" ng-model="phone" placeholder="-- -- -- --" type="text" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Country:</label>
                                    <select id="workspaceid" ng-model="country" class="form-control">
                                        <option selected>USA</option>
                                        <option>UK</option>
                                        <option>India</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Company Name:</label>
                                    <input class="form-control" id="name" name="name" ng-model="companyName" placeholder="Codeenvy" type="text" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Department Name:</label>
                                    <input class="form-control" id="name" name="name" placeholder="Product" ng-model="departmentName" type="text" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Job Title:</label>
                                    <input class="form-control" id="name" name="name" ng-model="jobTitle" placeholder="Product Manager" type="text" required autofocus />
                                </div>
                            </div>
                            Can our sales teams contact you to discuss our offerings? 
                            <input type="checkbox" name="remember" ng-model="check" value="1"> Yes
                            <div class="row">
                                <div class="col-md-2 col-md-offset-10">
                                    <button class="btn btn-primary btn-block signup-btn" type="submit">Save</button>
                                </div>
                            </div>
							
                        </form>          
                    </div>
                </div>            
            </div>
        </div>
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center">Update Your Password</h4>
				<div id="changePasswordAlert">
								<div class="alert alert-success" style="display: none;"><b>Successfully Done!</b> Change password process completed.</div>
								<div class="alert alert-danger" style="display: none;"><b>Failed!</b> Change password process failed.</div>
							</div>
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" accept-charset="utf-8" class="form" role="form" ng-submit="updatePassword()">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Old Pasword:</label>
                                    <input class="form-control" id="name" name="name" placeholder="" type="password" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">New Password:</label>
                                    <input class="form-control" id="password1" name="password1" placeholder="" type="password" ng-model="password" ng-required="" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="workspaceid">Repeat New Password:</label>
                                    <input class="form-control" id="password2" name="password2" placeholder="" type="password" ng-model="password_verify" ng-required="" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-10">
                                    <button class="btn btn-primary btn-block signup-btn" type="submit" >Save</button>
                                </div>
                            </div>
							
                        </form>          
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center"><img height="22" src="./images/user.png"/> You are a premium user</h4>
            </div>
        </div>
        
            <div class="panel panel-primary" data-toggle="modal" data-target="#myModal">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="panel-title white"><strong>WIN 6 MONTHS PREMIUM SERVICES</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>1 Organize a User Group and we will be there,</li>
                        <li>2 Organize a User Presentation and we will be there,</li>
                        <li>3 Organize a User Classroom and we will be there,</li>
                    </ul></div>
                <div class="panel-footer"><div class="row">
                        <div class="col-md-12 text-center">Contact US</div>
                    </div>
                </div>
            </div>
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <h4 class="text-center">Your Skills</h4>
				<div id="addSkillsAlert">
								<div class="alert alert-success" style="display: none;"><b>Successfully Done!</b> Add Skill process completed.</div>
								<div class="alert alert-danger" style="display: none;"><b>Failed!</b> Add Skill process failed.</div>
							</div>
							<div id="removeSkillsAlert">
								<div class="alert alert-success" style="display: none;"><b>Successfully Done!</b> Remove Skill process completed.</div>
								<div class="alert alert-danger" style="display: none;"><b>Failed!</b> Remove Skill process failed.</div>
							</div>
                <div class="celist">
                    <div class="label label-default" ng-repeat="skill in userSkills">{{skill}} <span ng-click="removeSkill(skill)" class="glyphicon glyphicon-remove"></span></div>
                    <!--<div class="label label-default">Java Development <span class="glyphicon glyphicon-remove"></span></div>
                    <div class="label label-default">IOS Application <span class="glyphicon glyphicon-remove"></span></div>
                    <div class="label label-default">Cobol <span class="glyphicon glyphicon-remove"></span></div>-->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form accept-charset="utf-8" class="form" role="form">  
                            <div class="row">
                                <div class="col-md-10 form-group">
                                    <input class="form-control" id="name" name="name" placeholder="steven" ng-model="addSkillModel" type="text" required autofocus />
                                </div>
                                <div class="col-md-2"><button class="btn btn-primary btn-block signup-btn" ng-click="addSkill()">Add</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-ce">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">                        
                        <form action="r" method="post" accept-charset="utf-8" class="form" role="form">   
                            <h4 class="text-center">Your Usage</h4>
                            <div class="row">
                                <div class="control-group">
                                    <div class="controls col-md-5 col-md-offset-1">
                                        <label class="checkbox">
                                            <input type="checkbox"> Personal
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> Opensource
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> Corporate
                                        </label>
                                    </div>
                                    <div class="controls col-md-5 col-md-offset-1">
                                        <label class="checkbox">
                                            <input type="checkbox"> Hackathon
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> Classroom
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> Others
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <h4 class="text-center">Your Projects</h4>
                            <div class="row">
                                <div class="control-group">
                                    <div class="controls col-md-5 col-md-offset-1">
                                        <label class="checkbox">
                                            <input type="checkbox"> Mobile
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> APIs
                                        </label>
                                    </div>
                                    <div class="controls col-md-5 col-md-offset-1">
                                        <label class="checkbox">
                                            <input type="checkbox"> WebApps
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox"> Others
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 text-right">
                                    <div class="garrow" style="padding:9px 0px;">Check multiple values</div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btn-block signup-btn" type="submit">Save</button>
                                </div>
                            </div>
                        </form>          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
