<ul class="breadcrumb boxnav">
  <li><a href="#/account/profile">Profile</a></li>
  <li class="active"><a href="#/account/subscriptions">Subscriptions</a></li>
  <!-- 
    <li><a href="#/account/configuration">Configuration</a></li>
    <li><a href="#/account/preferences">Preferences</a></li>
    <li><a href="#/account/billing">Billing</a></li>
-->
</ul>
<div class="col-md-12">
    <div class="row">
<ul class="breadcrumb projectnav" style="margin-bottom:0px;border-top:0px solid #dcdcdc;">
            <li><a ng-href="#/account/subscriptions">All Subscriptions</a> &nbsp;  > &nbsp; {{subscriptionAttributes.description | uppercase}} </li>
</ul>
    </div>
</div>
<div class="container mainDivContainer">
  <div style="width:50%;margin-left: auto;margin-right: auto">
    <div class="panel panel-default panel-ce">
      <div class="panel-body">
        <h4 class="text-center">SUBSCRIPTIONS DETAILS</h4>
        <div class="row">
          <div class="col-md-12">
              <label for="workspaceid">Name: <b>{{subscriptionAttributes.description | uppercase}}</b></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <label for="workspaceid">Your subscription started on: <b>{{subscriptionAttributes.startDate}}</b></label>
          </div>
        </div>
		<div class="row">
          <div class="col-md-12">
              <label for="workspaceid">Your trial subscription ends on: <b>{{trialEndDate}}</b></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <label for="workspaceid">Your subscription expired on: <b>{{subscriptionAttributes.endDate}}</b></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
		    <table class="projectlist">
				<tr >
					<td class="col-md-1 text-center">
					</td>
					<td class="col-md-1 text-center">
						<div class="button">Renew</div>
					</td>
					<td class="col-md-1 text-center">
						<div class="button">Upgrade</div>
					</td>
					<td class="col-md-1 text-center" data-toggle="modal" data-target="#message-deletesub" data-dismiss="modal">
						<div class="button">Cancel</div>
					</td>
					<td class="col-md-1 text-center">
					</td>
				</tr>
			</table>
           </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default panel-ce">
      <div class="panel-body">
        <h4 class="text-center">RENEWAL INFORMATIONS</h4>
        <div class="row">
          <div class="col-md-12">
              <label>Automatic Renewal:</label>&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkbox" name="autorenew" ng-model="autoRenewal" value="1">
              &nbsp;&nbsp;<label>Yes</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <label>Subscription Renewal On: {{contractRenewalDate}}</label>
          </div>
        </div>
      </div>
    </div>
         
  </div>
 
</div>

<div class="modal modal-project fade" id="message-deletesub" tabindex="-1" role="dialog" aria-labelledby="WarningProjectLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header" style="padding: 10px 5px 20px 5px; background: #f0f0f0;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div><!-- modal-header -->
      
      <div class="modal-body">
        <p>We'd hate to see you go, but if you ever need to cancel, just contact our Customer Support.</p>
      </div><!-- modal-body -->
      
      <div class="modal-footer" style="margin-top: 10px; padding: 10px; background: #f0f0f0;">
        <a  class="btn btn-danger" data-dismiss="modal">Ok</a>
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
      </div><!-- modal-footer -->
      
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- Warning-project Modal -->