<ul class="breadcrumb boxnav">
  <li><a href="#/account/profile">Profile</a></li>
  <li class="active"><a href="#/account/subscriptions">Subscriptions</a></li>
  <!-- 
    <li><a href="#/account/configuration">Configuration</a></li>
    <li><a href="#/account/preferences">Preferences</a></li>
    <li><a href="#/account/billing">Billing</a></li>
-->
</ul>
<div class="col-md-12">
    <div class="row">
<ul class="breadcrumb projectnav" style="margin-bottom:0px;border-top:1px solid #dcdcdc; border-bottom:none;">
            <li>All Subscriptions</li>
</ul>
    </div>
</div>
<div class="container mainDivContainer">
  <div class="col-md-6">
    <div class="panel panel-default panel-ce">
      <div class="panel-body">
        <h4 class="text-center">SUBSCRIPTIONS DETAILS</h4>
        <div class="row">
          <div class="col-md-12">
              <label for="workspaceid">Name: {{subscription.id}} -- {{subscription.properties.Package}} {{subscription.properties.RAM}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <label for="workspaceid">Your subscription started on: January 1, 2013</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <label for="workspaceid">Your subscription expired on: January 1, 2014</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <ul class="breadcrumb action-button boxnav">
              <li class="active"><a href="">Renew</a></li>
              <li class="active"><a href="">Upgrade</a></li>
              <li class="active"><a href="">Cancel</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <label for="workspaceid">We'd hate to see you go, but if you ever need to cancel, just contact our Customer Support.</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default panel-ce">
      <div class="panel-body">
        <h4 class="text-center">RENEWAL INFORMATIONS</h4>
        <div class="row">
          <div class="col-md-12">
              <label>Automatic Renewal:</label>&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkbox" name="autorenew" ng-model="check" value="1">
              &nbsp;&nbsp;<label>Yes</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <label>Subscription Renewal On: January 1, 2014</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default panel-ce">
      <div class="panel-body">
        <h4 class="text-center">INVOICES</h4>
        <div class="row">
          <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">January 1, 2013</div>
                    <div class="col-md-2"><a href="">HTML</a></div>
                    <div class="col-md-2"><a href="">PDF</a></div>
                </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <div class="col-md-6">
    <div class="panel panel-default panel-ce">
      <div class="panel-body">
        <h4 class="text-center" >BILLING INFORMATIONS</h4>
      </div>
    </div>


  </div>
</div>