<ul class="breadcrumb boxnav">
  <li><a href="#/account/profile">Profile</a></li>
  <li class="active"><a href="#/account/subscriptions">Subscriptions</a></li>
  <!-- 
    <li><a href="#/account/configuration">Configuration</a></li>
    <li><a href="#/account/preferences">Preferences</a></li>
    <li><a href="#/account/billing">Billing</a></li>
-->
</ul>
<div class="col-md-12">
    <div class="row">
<ul class="breadcrumb projectnav" style="margin-bottom:0px;border-top:0px solid #dcdcdc; border-bottom:none;">
            <li>All Subscriptions</li>
            <li class="dropdown user-dropdown"> SORT BY:
              <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-up garrow"></i> Name</a>
              <ul class="dropdown-menu">
                <li><a href="" ng-click="reverse = true; param = 'name'"><i class="fa fa-caret-up garrow"></i> Name</a></li>
                <li><a href="" ng-click="reverse = false; param = 'endDate'"><i class="fa fa-caret-down garrow"></i> Expiration Date</a></li>
                <li><a href="" ng-click="reverse = true; param = 'endDate'"><i class="fa fa-caret-up garrow"></i>Expiration Date</a></li>
                <li><a href="" ng-click="reverse = false; param = 'startDate'"><i class="fa fa-caret-down garrow"></i> Activation Date</a></li>
                <li><a href="" ng-click="reverse = true; param = 'startDate'"><i class="fa fa-caret-up garrow"></i>Activation Date</a></li>
              </ul>
            </li>
</ul>
        <div class="breadcrumb projectnav " style="display: inline-block; overflow-y: scroll; max-height:150px;">
            <table class="table table-striped table-condensed- table-hover" style="background:#f9f9f9;">
                <thead>
                    <tr style="background:#dbdbdb;border-top:1px solid #bebebe;">
                        <th style="width:54px"></th>
                        <th class="col-md-2 text-center"><h4>NAME</h4></th>
                        <th class="col-md-4 text-center"><h4>ACTIVATION DATE</h4></th>
                        <th class="col-md-1 text-center"><h4>EXPIRATION DATE</h4></th>
                        <th class="text-center" style="width:350px"><h4>ACTIONS</h4></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="subscription in subscriptions| filter: filter | orderBy:param:reverse">
                        <td>&nbsp;</td>
                        <td class="text-center blk_lnk" style="vertical-align:middle;"><a ng-href="#/account/subscriptions/{{subscription.id}}"><strong class="ng-binding">{{desc[$index] | uppercase}}</strong></a></td>
                        <td  class="text-center" style="vertical-align:middle;">{{stDates[$index]}}</td>
                        <td class="text-center" style="vertical-align:middle;">{{endDates[$index]}}</td>
                        <td class="text-center" style="vertical-align:middle;">
							<div class="codenvybutton" style="width:150px;margin-left: auto;margin-right: auto;"><a ng-href="#/account/subscriptions/{{subscription.id}}" style="color: #8f8f8f;text-decoration:none;">Manage subscription</a></div>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>