html, body {
    height: 100%;
}

body {
    padding-top: 45px;
    font-size: 11px;
}

.navbar-inverse .navbar-nav > li > a {
    padding:3px;
    margin:10px 15px;
    font-size:14px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-hover li:hover > a {
    border-bottom:2px solid #54aee0;
    padding:2px 3px;
    /*margin:10px;*/
}

.breadcrumb {
    height:36px;
    border-bottom:1px solid #dcdcdc;
}

.breadcrumb > li + li:before {
    content: none;
}

.breadcrumb li a {
    color: #177eb7;
}

.projectnav {
    padding:0 1px;
}

.projectnav > li {
    padding: 10px 20px;
}

.projectnav > li {
    border-right:1px solid #dcdcdc;
}

.boxnav {
    padding: 7px 0;
}

.boxnav > li {
    margin: 0 10px;
    padding: 2px;
}

.boxnav > li > a {
    color:#414141;
    padding: 5px;
}

.boxnav > li > a:hover, .boxnav > li > a:focus {
    text-decoration:none;
}

.boxnav > li.active {
    background: #fff;
    border:solid 1px #ccc;
}

.panel-footer i {
    color:#8f8f8f;
}

.garrow {
    color: #bebebe;
}

.dropdown-menu {
    border: 1px solid #DCDCDC;
    margin: 0;
    left:auto;
    right:0;
    margin:-2px -1px 0 0;
    border-top:none;
    box-shadow:none;
}

.dropdown-menu li a {
    color: #177eb7;
    text-align:right;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.panel-default > .panel-heading {
    color:#787878;
    background:#ebebeb;
    height:54px;
    padding:5px;
    font-size: 11px;
}

.panel-title {
    font-size:12px;
    color:#3c3c3c;
    margin:5px 0px;
}

.panel-heading img, .table > tbody > tr > td img{
    border:1px solid #bcbcbc;
}

.panel-body h4, .table > thead > tr > th h4 {
    color: #363636;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.panel-body .row {
    margin-top:15px;
    margin-bottom:15px;
}

.table > thead > tr > th h4 {
    font-weight:normal;
}

.table > thead > tr > th {
    padding:0px 5px;
    background:#dbdbdb;
    border-top:1px solid #bebebe;
    border-bottom:1px solid #bebebe;
}

label {
    color: #8b8b8b;
    font-size: 13px;
    text-transform: uppercase;
    /*font-weight: bold;
    */
}

label.checkbox {
    color: #a3a3a3;
    font-size: 11px;
    text-transform: none;
}

.cerow {
    margin-bottom:5px;
}

.cetag {
    border-radius:0px;
    color:#54aee0;
    padding:5px 10px;
    font-weight:bold;
    background:#fafafa;
}

.celist .label {
    font-weight:normal;
    display:table;
    margin-bottom:10px;
    border-radius:0px;
    color:#a3a3a3;
    padding:5px 10px;
    background:#fafafa;
}

.celist .label > span {
    background:#a8a8a8;
    color:#ffffff;
    border-radius:10px;
    margin-left:15px;
    padding:3px;
}

input[type="checkbox"].regular-checkbox {
    background:#000;
}

.btn:not(.simple) {
    text-transform:uppercase;
}


.panel-footer {
    background: #fafafa;
    padding-top:0px;
    padding-bottom:0px;
    height:24px;
}

.panel-footer .row > div {
    padding-top: 3px;
    padding-bottom: 4px;
    text-align:center;
    color:#363636;
    cursor: pointer;
}

.panel-footer .row > div:hover {
    background:#eaeaea;
}

.panel-footer > .row > div:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.projectbox .panel:hover {
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.2);
}



#footer {
    height: 60px;
}

.sparkline {
    display: inline-block;
    position: relative;
}

.jqstooltip {
    border: 0 none !important;
    display: block !important;
    padding: 0 !important;
}
.jqsfield {
    display: inline-block;
    line-height: 13px;
    padding: 4px 5px 5px;
}

.well h1, .well h2, .well h3, .well h4, .well h5, .no-margin h1 {
    margin-top:2px;
    margin-bottom:2px;
    font-weight:bold;
}

.orange {
    color:#e26e11;
}

.green {
    color:#7dc686;
}

.violet {
 color:#bd8fc0;   
}

.blue {
    color:#2293d5;
}

.gb {
    color:#8fa5c0;
}