<ul class="breadcrumb projectnav"  ng-hide="search">
    <li> You have access to 4 projects in 2 workspaces</li>
    <li class="dropdown user-dropdown"> Sort By:
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-up"></i> Recent</a>
        <ul class="dropdown-menu">
            <li><a href="" ng-click='reverse = true'><i class="fa fa-caret-up"></i> Recent</a></li>
            <li><a href="" ng-click='reverse = false'><i class="fa fa-caret-down"></i> Recent</a></li>
        </ul>
    </li>
    <li> Workspace: <a href="#"> <i class="fa fa-caret-up"></i> All</a></li>
    <li> View As:
        <a href="" ng-click="box = 0" ng-class="{true:'disabled', false:''}[box == 0]"> <i class="fa fa-list" rel="tooltip" title="List View"></i></a>
        <a href="" ng-click="box = 1" ng-class="{true:'disabled', false:''}[box == 1]"> <i class="fa fa-th" rel="tooltip" title="Grid View"></i></a>
    </li>
    <div class="pull-right" style="margin-top:3px;max-width:40px;">
        <div class="input-group">
            <input type="text" class="form-control" style="width:0;padding:0;" placeholder="Search ... ">
            <span class="input-group-addon">
                <a href="" ng-click="search = 1"><span class="glyphicon glyphicon-search"></span></a> 

            </span>
        </div>
    </div>   
</ul>

<ul class="breadcrumb"  ng-show="search">
    <div class="pull-right col-md-12" style="margin-top:-5px;padding:0px;">
        <div class="input-group">
            <input ng-model="filter" type="text" class="form-control" placeholder="Search ... ">
            <span class="input-group-addon">
                <a href="" ng-click="search = 0; filter = '';"><span class="glyphicon glyphicon-remove"></span></a> | 
                <a href="" ng-click="search = 1"><span class="glyphicon glyphicon-search"></span></a> 

            </span>
        </div>
    </div>

</ul>
<div class="col-md-2">
    <div class="panel panel-default" style="width:200px;">
        <div class="panel-body text-center">
            <span class="glyphicon white glyphicon-plus" style="font-size:75px; color:#dedede;  text-shadow: 1px 4px 6px #fff, 0 0 0 #000;"></span><br/>
            <div class="text-center" style="color:#919191"><strong>Create New Project</strong></div>
        </div>
    </div>
</div>
<div class="col-md-10">
    <div class="row">
        <div ng-repeat="project in projects| filter: filter | orderBy:'modified':reverse" class="col-md-3" style="width:244px"><!--ng-class="{true:'col-md-3', false:'col-md-9'}[box == 1]">-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4"><a href="#"><img ng-src="{{project.icon}}" alt=""></a></div>
                        <div class="col-md-8">
                            <h3 class="panel-title"><strong>{{project.name}}</strong></h3>
                            <span>{{project.owner}}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">{{project.description}}</div>
                <div class="panel-footer"><div class="row">
                        <div class="col-md-4"><i class="fa fa-unlock"></i><small> {{project.visibility}}</small></div>
                        <div class="col-md-4"><i class="fa fa-users"></i><small> Share</small></div>
                        <div class="col-md-4"><i class="fa fa-cog"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
