<div class="breadcrumb-wrap">
    <ul class="breadcrumb boxnav factorynav">
        <li>All the Factories ({{factories.length}})</li>
        <li class="factory-navbar-right"><button ng-click="createNewFactory()" class="btn btn-sm-text btn-ttl btn-create-factory-modal"><i class="glyphicon glyphicon-plus"></i><span> CREATE FACTORY</span></button></li>
    </ul>
</div>
<div class="col-md-12 factories-container">
    <div class="row">
        <table class="table table-striped table-condensed-" style="background:#ffffff;">
            <thead>
            <tr style="background:#dbdbdb;border-top:1px solid #bebebe;">
                <th class="col-md-2 text-center"><h4>ID</h4></th>
                <th class="col-md-2 text-center"><h4>PROJECT</h4></th>
                <th class="col-md-3 text-center"><h4>DESCRIPTION</h4></th>
                <th class="col-md-1 text-center"><h4>CREATED</h4></th>
                <th class="text-center" style="width:100px"><h4>VIEWS</h4></th>
                <!--
                <th class="text-center" style="width:100px"><h4>GIGABYTE HOURS</h4></th>
                -->
                <th class="text-center" style="width:100px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="factory in factories| filter: filter | orderBy:param:reverse">
                <td class="text-center" style="vertical-align:middle;"><em><a href="#/factory/{{factory.id}}">{{factory.id}}</a></em></td>
                <td class="text-center" style="vertical-align:middle;" ><strong>{{factory.projectname}}</strong></td>
                <td class="text-center" style="vertical-align:middle;">{{factory.description}}</td>
                <td class="text-center" style="vertical-align:middle;">{{factory.created | date: 'MMMM, dd yyyy'}}</td>
                <td  class="text-center" style="vertical-align:middle;">{{factory.views}}</td>
                <!--
                     <td class="text-center" style="vertical-align:middle;">{{factory.gigahours}}</td>
                     -->
                <td class="text-center" style="vertical-align:middle;">
                    <div class="factory-list-buttons">
                        <a ng-href="#/factory/{{factory.id}}" class="btn btn-ttl btn-sm-text"><i class="import-icon fa fa-edit fa-lg"></i> Edit</a>
                        <a ng-href="{{factory.seeURL}}" class="btn btn-ttl btn-sm-text" target="_blank"><i class="import-icon fa fa-eye fa-lg"></i> Use</a>
                        <a ng-click="openSnippets(factory.id)" class="btn btn-ttl btn-sm-text" ><i class="import-icon fa fa-share-alt fa-lg"></i> Share</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>