<div class="col-md-12" style="margin-top:20px;">
    <div class="row">
        <div class="panel panel-default ">
            <div class="panel-body">
                <h4 class="text-center">View of your factories</h4>
                <div class="well">Chart</div>
            </div>
        </div> 
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <ul class="breadcrumb projectnav" style="margin-bottom:0px;">
            <li>Your most popular factories</li>
            <li class="dropdown user-dropdown"> Period:
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-up"></i> Last 30 Days</a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click='reverse = true'><i class="fa fa-caret-up"></i> Last 30 Days</a></li>
                    <li><a href="" ng-click='reverse = false'><i class="fa fa-caret-down"></i> Last 30 Days</a></li>
                </ul>
            </li>
        </ul>

        <table class="table table-striped" style="background:#ffffff;">
            <thead>
                <tr style="background:#dbdbdb;">
                    <th></th>
                    <th>Project</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Views</th>
                    <th>Builds</th>
                    <th>Runs</th>
                    <th>Copies</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="images/icon-angular.png"/></td>
                    <td>
                        <p><strong>Spring Demo</strong></p>
                        <span>Steven Le Meur</span>
                    </td>
                    <td>This project is demoing a Java application built with Spring. Displaying data in a page, submitting data and authentication sample</td>
                    <td>Dec 12, 2013</td>
                    <td>65</td>
                    <td>45</td>
                    <td>35</td>
                    <td>15</td>
                    <td><a href="">See</a> <a href="">Snippets</a> <a href="">Share</a></td>
                </tr>
                <tr>
                    <td><img src="images/icon-angular.png"/></td>
                    <td>
                        <p><strong>Spring Demo</strong></p>
                        <span>Steven Le Meur</span>
                    </td>
                    <td>This project is demoing a Java application built with Spring. Displaying data in a page, submitting data and authentication sample</td>
                    <td>Dec 12, 2013</td>
                    <td>65</td>
                    <td>45</td>
                    <td>35</td>
                    <td>15</td>
                    <td><a href="">See</a> <a href="">Snippets</a> <a href="">Share</a></td>
                </tr>
                <tr>
                    <td><img src="images/icon-angular.png"/></td>
                    <td>
                        <p><strong>Spring Demo</strong></p>
                        <span>Steven Le Meur</span>
                    </td>
                    <td>This project is demoing a Java application built with Spring. Displaying data in a page, submitting data and authentication sample</td>
                    <td>Dec 12, 2013</td>
                    <td>65</td>
                    <td>45</td>
                    <td>35</td>
                    <td>15</td>
                    <td><a href="">See</a> <a href="">Snippets</a> <a href="">Share</a></td>
                </tr>
                <tr>
                    <td><img src="images/icon-angular.png"/></td>
                    <td>
                        <p><strong>Spring Demo</strong></p>
                        <span>Steven Le Meur</span>
                    </td>
                    <td>This project is demoing a Java application built with Spring. Displaying data in a page, submitting data and authentication sample</td>
                    <td>Dec 12, 2013</td>
                    <td>65</td>
                    <td>45</td>
                    <td>35</td>
                    <td>15</td>
                    <td><a href="">See</a> <a href="">Snippets</a> <a href="">Share</a></td>
                </tr>
                <tr>
                    <td><img src="images/icon-angular.png"/></td>
                    <td>
                        <p><strong>Spring Demo</strong></p>
                        <span>Steven Le Meur</span>
                    </td>
                    <td>This project is demoing a Java application built with Spring. Displaying data in a page, submitting data and authentication sample</td>
                    <td>Dec 12, 2013</td>
                    <td>65</td>
                    <td>45</td>
                    <td>35</td>
                    <td>15</td>
                    <td><a href="">See</a> <a href="">Snippets</a> <a href="">Share</a></td>
                </tr>
                <tr>
                    <td><img src="images/icon-angular.png"/></td>
                    <td>
                        <p><strong>Spring Demo</strong></p>
                        <span>Steven Le Meur</span>
                    </td>
                    <td>This project is demoing a Java application built with Spring. Displaying data in a page, submitting data and authentication sample</td>
                    <td>Dec 12, 2013</td>
                    <td>65</td>
                    <td>45</td>
                    <td>35</td>
                    <td>15</td>
                    <td><a href="">See</a> <a href="">Snippets</a> <a href="">Share</a></td>
                </tr>
                <tr>
                    <td><img src="images/icon-angular.png"/></td>
                    <td>
                        <p><strong>Spring Demo</strong></p>
                        <span>Steven Le Meur</span>
                    </td>
                    <td>This project is demoing a Java application built with Spring. Displaying data in a page, submitting data and authentication sample</td>
                    <td>Dec 12, 2013</td>
                    <td>65</td>
                    <td>45</td>
                    <td>35</td>
                    <td>15</td>
                    <td><a href="">See</a> <a href="">Snippets</a> <a href="">Share</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>