<div class="header" ng-controller="NavbarCtrl">
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- for marketing message notification-->
        <div ng-if="notification" class="alert alert-default white fade in" style="margin-bottom:0px;padding:0px 15px; border:none; background:#1e89c4;">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="padding:6px;opacity:1;"><span class="glyphicon glyphicon-remove white"></span></button>
            <div class="row">
                <div class="col-md-5" style="padding:10px 15px;"><strong>We have just released version 3.2.0: FTP Deployement, More Editor Features</strong></div>
                <div class="col-md-1" style="padding:10px 15px;background:#125276;" data-toggle="modal" data-target="#myModal">Learn More</div>
                <div class="col-md-offset-1 col-md-1" data-dismiss="alert" style="padding:10px 15px;background:#125276;">Got it</div>
            </div> 
        </div>
        <!--TODO: remove inline CSS -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img height="20" src="./images/logo2.png"/></a>
        </div>
        <ul class="nav navbar-nav navbar-hover collapse navbar-collapse">
            <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                <a ng-href="{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right help-bar">
            <li><a href="" class="user"><span class="user-name">{{fullUserName}}</span></a></li>
            <li><a href="" style="font-size:24px" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-question-sign"></i></a>
                  <ul class="dropdown-menu dropdown_bg">
                    <li ng-repeat="helpItem in helpMenu">
                        <a ng-href="{{helpItem.link}}" target="_blank">{{helpItem.title}}</a>
                    </li>
                  </ul>
            </li>
            <li><a style="font-size:27px" class="logout" href="" ng-click="logout()"><i class="fa fa-power-off"></i></a> </li>
            <li class="col-md-1"> </li>
        </ul>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding:10px;background:#f0f0f0;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Release 3.2.0</h4>
      </div>
      <div class="modal-body" style="padding:0px;">
        <div data-ride="carousel" class="carousel slide" id="carousel-example-captions">
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-example-captions"></li>
        <li data-slide-to="1" data-target="#carousel-example-captions" class=""></li>
        <li data-slide-to="2" data-target="#carousel-example-captions" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img alt="900x500" src="./images/marketing.png">
            <!--
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
          -->
        </div>
      </div>
      <a data-slide="prev" href="" class="left carousel-control" style="backgound-image:none;background:none;">
        <span class="glyphicon glyphicon-chevron-left" style="background:#1e89c4;padding:15px 5px;"></span>
      </a>
      <a data-slide="next" href="" class="right carousel-control"  style="backgound-image:none;background:none;">
        <span class="glyphicon glyphicon-chevron-right" style="background:#1e89c4;padding:15px 5px;"></span>
      </a>
    </div>
      </div>
      <div class="modal-footer" style="margin-top:0px;padding:10px; background:#f0f0f0;">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>