
<ul class="breadcrumb boxnav">
  <li class="active"><a href="#"> WORKSPACES ({{workspaces.length}})</a></li>
  <li><a href="#"> MEMBERS (40) </a></li>
  <li><a href="#"> GROUPS (10) </a></li>
</ul>


<div class="col-md-12">
  <div class="row">
    <ul class="breadcrumb projectnav breadcrumb clearfix">
      <li class="dropdown user-dropdown"> SORT BY:
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down garrow"></i> Alphabetically </a>
        <ul class="dropdown-menu">
          <li><a href=""> Alphabetically </a></li>
          <li><a href=""> Last Update </a></li>
          <li><a href=""> Creation Date </a></li>
        </ul>
      </li>

<!--
      <li class="search1 clearfix">
        <div>
          <a href="" class="new_btn"><i class="glyphicon glyphicon-plus"></i>New Workspace</a>
        </div>
      </li>
-->
      <li class="search1 clearfix">
        <div>
          <input type="button" class="searchfield "/>
        </div><!-- content title-->
        <div class="searchfull clearfix" style="display:none" >
          <input type="button" class="closeBtn" style="display:none;" ng-click="filter = ''" />
          <input type="text" ng-model="filter.project.name" class="searchfield " placeholder="Search for Runners"/>
        </div>
      </li>
    </ul>

    <div class="breadcrumb-without-border projectnav">
      <table class="table table-striped table-condensed- table-hover" style="background:#f9f9f9;">
        <thead>
          <tr style="background:#dbdbdb;border-top:1px solid #bebebe;">
            <th class=""></th>
            <th class="text-center"><h4>NAME</h4></th>
            <th class="text-center"><h4>LAST UPDATE</h4></th>
            <th class="text-center"><h4>CREATION DATE</h4></th>
            <th class="text-center"><h4>DEVELOPERS</h4></th>
            <th class="text-center"><h4>PROJECTS</h4></th>
            <th class="text-center"><h4>FACTORIES</h4></th>
            <th></th>
            <th style="text-align: right; padding-right: 104px;"><h4>ACTIONS</h4></th>
          </tr>
        </thead>

          <tr ng-repeat="workspace in workspaces| filter: filter | orderBy:name:reverse" class="v-center">
            <td style="width: 1%;"><i class="glyphicon glyphicon-lock"></i></td>
            <td><a ng-href="#">{{workspace.workspaceReference.name}}</a></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td></td>
            <td style="text-align: right;">
              <ul class="breadcrumb action-button boxnav">
                <li class="active no-bdr"><a href="" class="new_btn">Edit</a></li>
                <li class="active no-bdr"><a href="" class="new_btn">Remove</a></li>
              </ul>
            </td>
          </tr>

      </table>
    </div>
    <div class="text-center">
      <ul class="pagination pagination-sm">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
  </div>
</div>