<div class="breadcrumb-wrap">
  <ul class="breadcrumb projectnav breadcrumb clearfix">

    <li> You have {{(projects.length == 0) ? '-' : projects.length}} runners defined in {{workspaces.length}} workspaces</li>

    <li class="dropdown user-dropdown"> WORKSPACE:
      <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-caret-down garrow"></i> {{filter.workspaceName || 'All'}}</a>
      <ul class="dropdown-menu">
        <li><a href="" ng-click="filter.workspaceName=''">All</a></li>
        <li ng-repeat="workspace in workspaces" ng-click="filter.workspaceName=workspace.workspaceReference.name"><a href="">{{workspace.workspaceReference.name}}</a></li>
      </ul>
    </li>

    <li class="search1 clearfix">
      <div>
        <input type="button" class="searchfield "/>
      </div><!-- content title-->
      <div class="searchfull clearfix" style="display:none" >
        <input type="button" class="closeBtn" style="display:none;" ng-click="filter = ''" />
        <input type="text" ng-model="filter.name" class="searchfield " placeholder="Search for Projects"/>
      </div>
    </li>
  </ul>
</div>