<ul class="breadcrumb projectnav">
    <li class="dropdown user-dropdown"> PERIOD:
        <a href="" class="dropdown-toggle" data-toggle="dropdown">{{selectedPeriodText}}</a>
        <ul class="dropdown-menu">
			<li ng-repeat="period in periodTexts"><a href="" ng-click='selectPeriod(period)'>{{period}}</a></li>
        </ul>
    </li>
</ul>

<div class="col-md-12">
    <div class="panel panel-default panel-ce">
        <div class="panel-body">
            <h4 class="text-center">Your Statistics</h4>
            <div class="row">
                <div class="col-md-9"><div id="graph-area-line" style="height:300px;"></div></div>
                <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-4 no-margin text-right gb"><h1>{{ totalSessions }}</h1></div>
                            <div class="col-md-8 h4" style="font-size:16px;color:#8c8c8c;"><strong>SESSIONS</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 no-margin text-right gb"><h1>{{ getTotalCumulativeMinutes() }}</h1></div>
                            <div class="col-md-8 h4" style="font-size:16px;color:#8c8c8c;"><strong>CUMULATIVE MINUTES</strong></div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--<div class="well well-sm well-ce pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat blue ">{{totalProjectUpdated}}</h1> <strong>PROJECT UPDATED</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="130" sparkbarcolor="#2293d5" sparktype="bar" class="dynamicsparklineProjectUpdated"></span>
                    </div>-->
                    <div class="well well-sm well-ce pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat green ">{{totalBuilds}}</h1> <strong>BUILDS</strong><br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#7cc687" sparktype="bar" class="dynamicsparklineBuilds"></span>
                    </div>
                    <div class="well well-sm well-ce pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat green ">{{totalRuns}}</h1> <strong>RUNS</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#7cc687" sparktype="bar" class="dynamicsparklineRuns"></span>
                    </div>
                    <div class="well well-sm well-ce pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat green ">{{totalDebugs}}</h1> <strong>DEBUGS</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#7cc687" sparktype="bar" class="dynamicsparklineDebugs"></span>
                    </div>
                    <div class="well well-sm well-ce pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat violet ">{{totalDeploys}}</h1> <strong>DEPLOYS</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#bd8fc0" sparktype="bar" class="dynamicsparklineDeploys"></span>
                    </div>
                    <div class="well well-sm well-ce pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat blue ">{{totalCreatedFactories}}</h1> <strong>FACTORIES</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#2293d5" sparktype="bar" class="dynamicsparklineFactories"></span>
                    </div>
                    <div class="well well-sm well-ce pull-left" style="margin-right:40px;min-width:130px;"><h1 class="stat blue ">{{totalCollaborativeSessionStarted}}</h1> <strong>COLLABRATIVE SESSIONS</strong> <br/>
                        <span sparkbarwidth="5" sparkheight="45" sparkwidth="100" sparkbarcolor="#2293d5" sparktype="bar" class="dynamicsparklineCollaborativeSession"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Build Statics</h4>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange stat">{{ buildStatsTimeInQueue}}</h1></div>
                        <div class="col-md-9" style="padding-top:8px;color:#8c8c8c;font-size:10px;">
                            <strong>TIME SPENT IN BUILD WAIT QUEUE</strong><br/>
                             <a href="">Upgrade</a> (soon) to get a dedicated queue.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="garrow stat">{{ buildStatsBuildsTime}}</h1></div>
                        <div class="col-md-9" style="padding-top:8px;color:#8c8c8c;font-size:10px;">
                            <strong>TIME SPENT BUILDING PROJECTS</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange stat">{{ buildStatsQueueTerminations }}</h1></div>
                        <div class="col-md-9" style="padding-top:8px;color:#8c8c8c;font-size:10px;">
                            <strong>BUILD TERMINATIONS DUE TO THRESHOLD TIMEOUT</strong><br/>
                             <a href="">Upgrade</a> (soon) to increase build timeout threshold
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Run Statics</h4>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange stat">{{ runStatsTimeInQueue }}</h1></div>
                        <div class="col-md-9" style="padding-top:8px;color:#8c8c8c;font-size:10px;">
                            <strong>TIME SPENT IN RUNNER WAIT QUEUE</strong><br/>
                             <a href="">Upgrade</a> (soon) to get a dedicated queue.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1  class="garrow stat">{{ runStatsRunsTime}}</h1></div>
                        <div class="col-md-9" style="padding-top:8px;color:#8c8c8c;font-size:10px;">
                            <strong>TIME SPENT RUNNING PROJECTS</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="orange stat">{{ runStatsQueueTerminations }}</h1></div>
                        <div class="col-md-9" style="padding-top:8px;color:#8c8c8c;font-size:10px;">
                            <strong>RUN TERMINATIONS DUE TO THRESHOLD TIMEOUT</strong><br/>
                             <a href="">Upgrade</a> (soon) to increase run timeout threshold
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default  panel-ce">
                <div class="panel-body">
                    <h4 class="text-center">Image Statics</h4>
                    <div class="row">
                        <div class="col-md-3 no-margin text-right"><h1 class="green stat">{{ totalTimeDockerConfig }}</h1></div>
                        <div class="col-md-9" style="padding-top:8px;color:#8c8c8c;font-size:10px;">
                            <strong>TIME SPENT CONFIGURING DOCKER IMAGES</strong><br/>
                            <a href="">Upgrade</a> (soon) to increase time before image tear down
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
