<div class="col-md-12">
    <div class="row">
<ul class="breadcrumb projectnav" style="margin-bottom:0px;border-top:1px solid #dcdcdc; border-bottom:none;">
            <li>All Subscriptions</li>
            <li class="dropdown user-dropdown"> SORT BY:
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-up garrow"></i> Name</a>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="reverse = true; param = 'name'"><i class="fa fa-caret-up garrow"></i> Name</a></li>
                <li><a href="#" ng-click="reverse = false; param = 'expirationdate'"><i class="fa fa-caret-down garrow"></i> Expiration Date</a></li>
                <li><a href="#" ng-click="reverse = true; param = 'expirationdate'"><i class="fa fa-caret-up garrow"></i>Expiration Date</a></li>
                <li><a href="#" ng-click="reverse = false; param = 'activationdate'"><i class="fa fa-caret-down garrow"></i> Activation Date</a></li>
                <li><a href="#" ng-click="reverse = true; param = 'activationdate'"><i class="fa fa-caret-up garrow"></i>Activation Date</a></li>
              </ul>
            </li>
</ul>
        <div style="display: inline-block; overflow-y: scroll; max-height:150px;">
            <table class="table table-striped table-condensed-" style="background:#ffffff;">
                <thead>
                    <tr style="background:#dbdbdb;border-top:1px solid #bebebe;">
                        <th style="width:54px"></th>
                        <th class="col-md-2 text-center"><h4>NAME</h4></th>
                        <th class="col-md-4 text-center"><h4>ACTIVATION DATE</h4></th>
                        <th class="col-md-1 text-center"><h4>EXPIRATION DATE</h4></th>
                        <th class="text-center" style="width:350px"><h4>ACTIONS</h4></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="subscription in subscriptions| filter: filter | orderBy:param:reverse">
                        <td>&nbsp;</td>
                        <td class="text-center"><a ng-href="#/subscriptions/{{subscription.id}}">{{subscription.id}}</a></td>
                        <td  class="text-center">{{subscription.startDate | date: 'dd/MM/yy'}}</td>
                        <td class="text-center">{{subscription.endDate  | date: 'dd/MM/yy'}}</td>
                        <td>&nbsp;<input type="button" class="btn btn-primary" ng-if="((subscription.endDate | date: 'dd/MM/yy').length > 0) && ((subscription.startDate | date: 'dd/MM/yy').length > 0)" value="Renew" />&nbsp;<input type="button" class="btn btn-primary" ng-if="((subscription.endDate | date: 'dd/MM/yy').length > 0) && ((subscription.startDate | date: 'dd/MM/yy').length > 0)" value="Upgrade" />&nbsp;<input type="button" class="btn btn-primary" ng-if="((subscription.endDate | date: 'dd/MM/yy').length > 0) && ((subscription.startDate | date: 'dd/MM/yy').length > 0)" value="Cancel" /></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>